@charset "UTF-8";
/*(@) Powered By Critical Truesun */
html, body {
  height: auto; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0;
  display: block; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none;
  list-style-type: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  outline: none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */
  cursor: pointer; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

body {
  font-family: '微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro',新細明體;
  font-size: 15px;
  font-size: 100%;
  color: #555; }

input, textarea, select {
  font-family: '微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro',新細明體;
  color: #555; }

.overlay {
  width: 100%;
  height: 100%;
  background-image: url(/img/mask.png);
  position: fixed;
  z-index: 1001; }

.top-space {
  padding: 80px 0 0 0; }

.door-left, .door-right {
  width: 120px;
  height: 600px; }

.door-left {
  position: absolute;
  top: -46px;
  left: -130px;
  z-index: 999; }

.door-right {
  position: absolute;
  top: -46px;
  right: -130px;
  z-index: 999; }

.ad-txt {
  width: 1000px;
  padding: 8px 0;
  margin: 0 auto; }
  .ad-txt a {
    width: 306px;
    padding: 8px;
    margin: 0 17px 0 0;
    display: block;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .ad-txt a:hover {
      background: #222; }
  .ad-txt a.last {
    margin: 0; }

.mid-ad {
  width: 1000px;
  margin: 15px 0; }

html {
  font-size: 18px; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

.header-box {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 99; }

h1 {
  margin-left: 15px; }
  h1 img {
    width: 50px;
    height: auto;
    padding: 10px 0; }

.logo {
  display: inline-block;
  vertical-align: middle; }

.nav {
  display: inline-block;
  vertical-align: middle;
  float: right;
  padding-right: 20px; }
  .nav ul {
    display: inline-block; }
  .nav li {
    float: left;
    margin: 0  15px; }
  .nav ul li a {
    color: #000;
    font-weight: bold;
    display: block;
    padding: 36px 0;
    transition: .3s;
    font-size: 1rem; }
    .nav ul li a:hover {
      color: #0080C7; }
    .nav ul li a:hover img {
      opacity: .9; }
  .nav .act a {
    color: #0080C7; }

.fb {
  display: inline-block;
  width: 25px;
  padding: 36px 0;
  vertical-align: top; }
  .fb img {
    display: inline-block; }
  .fb:hover {
    opacity: .9; }

.btn_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s; }
  .btn_top img {
    width: 60px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3)); }
  .btn_top:hover {
    transform: scale(1.1); }

.more_clinic {
  position: fixed;
  left: 40px;
  bottom: 40px;
  z-index: 10;
  transition: .3s;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #0091E1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .more_clinic img {
    margin: 15px auto 5px;
    transition: .3s; }
  .more_clinic span {
    color: #fff;
    text-align: center;
    display: block;
    font-size: .9rem; }
  .more_clinic:hover {
    transform: scale(1.1); }

.wrap_box {
  position: relative; }
  .wrap_box:before {
    content: '';
    display: block;
    background: #f7f7f7;
    width: 95%;
    height: 42%;
    position: absolute;
    z-index: -1;
    border-radius: 50px 0 0 50px;
    right: 0;
    top: 37%; }

.wrap {
  max-width: 1210px;
  padding: 0 10px;
  margin: 0 auto; }

.tit {
  margin: 0 auto 20px; }

h2 {
  color: #000;
  font-weight: bold;
  font-size: 2.8rem;
  display: inline-block;
  position: relative; }
  h2:after {
    content: '';
    display: block;
    background: #0080C7;
    width: 100px;
    height: 6px;
    margin: 0 auto; }

.btn_box {
  text-align: center; }

.btn {
  background: #0080C7;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0 auto;
  transition: .3s; }
  .btn img {
    display: inline-block;
    transition: .3s; }
  .btn:hover {
    background: #035380; }
  .btn:hover img {
    transform: translateX(5px); }

.wrap1 {
  padding: 95px 10px 0;
  position: relative;
  margin: 0 auto; }
  .wrap1 img {
    position: absolute;
    bottom: -40px;
    right: 10px; }

.video {
  max-width: 1190px;
  margin: 40px auto 0;
  height: 670px; }
  .video iframe {
    width: 100%;
    display: block;
    height: 100%; }

.wrap_box2 {
  padding: 130px 0 0; }
  .wrap_box2:before {
    top: 41%; }
  .wrap_box2:after {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/bg_slogan.svg) no-repeat right center;
    width: 465px;
    height: 40px;
    top: 39%;
    right: 0;
    z-index: -1; }

.tit_box {
  width: 70%;
  margin: 0 auto 30px; }
  .tit_box > div {
    display: inline-block;
    vertical-align: top; }

.tit_logo {
  width: 180px;
  margin: 0 30px 0 0; }

.tit_txt {
  width: calc( 100% - 220px);
  margin: 0 auto 30px; }
  .tit_txt h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2A2A2A;
    margin: 0 0 10px; }
  .tit_txt p {
    font-size: 1.1rem;
    line-height: 1.9rem; }
  .tit_txt h2:after {
    width: 60px; }

.md img {
  margin: 0 auto; }

.slogan {
  position: relative; }

.box {
  position: absolute;
  width: 390px;
  border: 2px solid #0080C7;
  padding: 30px; }
  .box h2 {
    color: #0080C7; }
    .box h2:after {
      background: #0080C7;
      margin: 5px auto 0;
      width: 60px; }
  .box p {
    margin: 20px 0 0;
    font-size: 1.1rem;
    line-height: 1.7rem; }

.box_l {
  left: 0;
  top: 50px; }

.box_r {
  right: 0;
  top: 240px; }

.wrap_box3 {
  padding: 130px 0 40px; }
  .wrap_box3:before {
    background: #E8F3FA;
    left: 0;
    border-radius: 0 40px 40px 0;
    top: 34%;
    height: 70%; }
  .wrap_box3 h3 {
    text-align: center;
    font-size: 1.3rem;
    margin: 50px 0;
    font-weight: bold; }

.tit_c img {
  margin: 0 auto 20px; }

.tit_c h2 {
  display: block;
  text-align: center; }
  .tit_c h2:after {
    height: 10px; }

.swiper-clinic {
  margin: 50px 0;
  max-width: 1210px;
  padding: 0 20px 50px; }
  .swiper-clinic .swiper-slide {
    background: #fff;
    padding: 35px 30px 15px;
    min-height: 230px; }
  .swiper-clinic li:first-child {
    text-align: center;
    font-size: 1.3rem;
    color: #2A2A2A;
    margin: 0 0 20px; }
  .swiper-clinic li img {
    display: inline-block;
    vertical-align: top;
    width: 15px; }
  .swiper-clinic li p {
    display: inline-block;
    width: calc( 100% - 21px);
    margin: 0 0 20px;
    color: #555; }
  .swiper-clinic .swiper-pagination {
    height: 13px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%); }
  .swiper-clinic .swiper-button-next, .swiper-clinic .swiper-button-prev {
    top: 40%; }

.swiper-button-next {
  background: url(../img/icon_arrow.svg) no-repeat;
  width: 45px;
  height: 45px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  right: 0; }

.swiper-button-prev {
  background: url(../img/icon_arrow.svg) no-repeat;
  transform: rotate(180deg);
  width: 45px;
  height: 45px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  left: 0; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ccc;
  vertical-align: middle;
  opacity: 1;
  margin: 0 5px; }

.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: #0080C7; }

.wrap_box4 {
  padding: 120px 0 40px; }
  .wrap_box4:before {
    top: 430px;
    height: 50%;
    width: 85%; }
  .wrap_box4 .tit {
    margin: 0 auto 40px; }

.know > div {
  display: inline-block; }

.num_wrap {
  width: calc( 100% - 475px);
  vertical-align: top;
  margin-top: 100px; }

.num_box {
  width: 329px;
  display: inline-block;
  background: #0080C7;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 50px 30px 30px;
  height: 220px;
  border-radius: 20px 20px 0 20px;
  margin: 0 auto 100px;
  vertical-align: top; }
  .num_box:before {
    content: '';
    right: -40px;
    bottom: 20px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 40px;
    border-color: transparent transparent transparent #0080C7; }
  .num_box img {
    width: 105px;
    position: absolute;
    top: -40px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.4)); }
  .num_box p {
    color: #fff;
    font-size: 1.1rem; }
  .num_box:nth-child(odd) {
    margin-right: 50px; }
  .num_box:nth-child(2):before {
    right: 20px;
    bottom: -40px;
    border-width: 40px 25px 0 25px;
    border-color: #0080C7 transparent transparent transparent; }
  .num_box:nth-child(4):before {
    left: -40px;
    top: 40px;
    border-width: 25px 40px 25px 0;
    border-color: transparent #0080C7 transparent transparent; }
  .num_box:nth-child(3), .num_box:nth-child(4) {
    margin-bottom: 80px; }

.docter {
  background: #035380;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 0 0 50px;
  position: relative;
  text-align: center;
  font-size: 1.1rem; }
  .docter:before {
    content: '';
    left: -36px;
    top: 7px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 40px 25px 0;
    border-color: transparent #035380 transparent transparent; }

.wrap_box5 {
  padding: 140px 0 0; }
  .wrap_box5:before {
    top: 7%;
    left: 0;
    height: 39%;
    width: 58%;
    background: #E8F3FA;
    border-radius: 0 40px 40px 0; }
  .wrap_box5 .tit {
    margin: 0 auto 40px; }

.qa {
  margin: 0 0 20px; }
  .qa span {
    font-size: 4rem;
    font-weight: bold;
    vertical-align: middle; }
  .qa p {
    display: inline-block;
    color: #2A2A2A;
    font-size: 1.5rem;
    font-weight: bold; }

.up {
  background: #fff;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0; }
  .up:before {
    content: '01';
    display: block;
    position: absolute;
    color: #eee;
    font-size: 10rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .up p {
    font-size: 2.4rem;
    color: #2A2A2A;
    font-weight: bold;
    padding: 1px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.down {
  background: #0080C7;
  height: 200px;
  padding: 40px 25px 0; }
  .down p {
    color: #fff;
    font-size: 1.1rem; }

.q1_cont {
  width: 90%;
  margin: 0 auto 100px; }
  .q1_cont li {
    margin: 0 15px 0 0;
    display: inline-block;
    width: calc((100% - 41px)/3);
    vertical-align: top;
    font-size: 0;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
    transition: .3s; }
    .q1_cont li:nth-child(2) .up:before {
      content: '02'; }
    .q1_cont li:nth-child(2) .down {
      background: #035380; }
    .q1_cont li:nth-child(3) {
      margin-right: 0; }
      .q1_cont li:nth-child(3) .up:before {
        content: '03'; }
    .q1_cont li:hover {
      transform: scale(1.1); }

.q2_cont {
  width: 90%;
  margin: 0 auto; }

.qa_l {
  width: 40%;
  display: inline-block;
  vertical-align: top; }
  .qa_l li {
    margin: 35px 0; }
  .qa_l img {
    display: inline-block;
    vertical-align: middle; }
  .qa_l p {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 1.2rem;
    vertical-align: middle;
    width: calc( 100% - 110px); }
  .qa_l span {
    color: #0080C7; }
  .qa_l span:first-child {
    color: #035380; }

.qa_r {
  display: inline-block;
  width: 58%; }
  .qa_r img {
    width: 100%; }

.wrap_box6 {
  padding: 120px 0 50px; }
  .wrap_box6:before {
    background: #E8F3FA;
    width: 70%;
    top: 0; }

.swiper-article {
  max-width: 1210px;
  padding: 0 50px 50px;
  margin: 80px 0 0; }
  .swiper-article .swiper-button-next, .swiper-article .swiper-button-prev {
    top: 45%; }
  .swiper-article .swiper-pagination {
    bottom: 0; }
  .swiper-article .btn {
    display: inline-block;
    margin: 30px auto 0; }

.pic {
  width: 100%;
  height: 330px;
  margin: 0 auto 30px;
  position: relative;
  border-radius: 5px;
  transition: .3s; }

.name {
  font-size: 1.1rem;
  position: absolute;
  background: #8ABABB;
  color: #fff;
  padding: 10px;
  right: 15px;
  bottom: -10px; }

.article_tit {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px;
  color: #2A2A2A; }

.article_txt {
  color: #555; }

.article {
  cursor: pointer; }
  .article:hover .pic {
    opacity: .9; }

.noscroll {
  overflow: hidden; }

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  top: 0; }

.lightbox_wrap {
  position: fixed;
  z-index: 101;
  width: 80%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 10px; }

.light_box {
  height: 650px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 70px; }

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 102; }

.lb_tit h3 {
  font-size: 1.6rem;
  font-weight: bold; }

.lb_tit p {
  margin: 10px 0 20px;
  font-size: 1.3rem; }

.map_wrap {
  padding: 100px 0 0;
  height: 100vh; }

.map_box {
  width: 30%;
  display: inline-block;
  border-right: 1px solid #ccc; }
  .map_box .btn_box {
    cursor: pointer; }
    .map_box .btn_box .btn:first-child {
      width: 38%; }
    .map_box .btn_box .btn:last-child {
      width: 60%; }
    .map_box .btn_box img {
      width: 45px; }

button.btn span {
  font-size: 1rem; }

button {
  outline: none;
  border: none; }

.search {
  padding: 40px 20px;
  position: fixed;
  background: #fff;
  width: 30%;
  top: 98px;
  left: 0;
  border-right: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  .search ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc; }
  .search :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc; }
  .search ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc; }
  .search :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc; }

.search_input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 12px 10px 12px 35px;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background: url(../img/icon_search.svg) no-repeat left 10px center;
  background-size: .9rem;
  margin: 0px 0 15px; }

.map_ul {
  background: #F8F8F8;
  margin-top: 190px;
  height: calc( 100vh - 290px);
  overflow-y: scroll; }
  .map_ul li {
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer; }
    .map_ul li:hover {
      background: #E8F3FA; }
  .map_ul h3 {
    color: #000;
    font-size: 1.3rem;
    font-weight: bold; }
  .map_ul h4 {
    font-size: .9rem;
    color: #939393;
    margin: 5px 0 10px; }

.add, .phone {
  margin: 10px 0; }
  .add img, .phone img {
    display: inline-block;
    width: 15px;
    vertical-align: top;
    margin: 0 5px 0 0; }
  .add p, .phone p {
    display: inline-block;
    width: calc( 100% - 25px); }

.note {
  color: #0080C7;
  margin: 15px 0 0; }

.icon_map_now {
  width: 80px; }

.icon_map {
  width: 30px; }

#cont_map {
  float: right;
  width: 70%;
  position: absolute !important;
  right: 0;
  left: auto;
  height: calc( 100vh - 100px); }
  #cont_map iframe {
    width: 100%;
    height: 100%; }

.map_tab {
  display: none; }

.qrcode {
  height: calc( 100vh - 40px);
  overflow: hidden;
  position: relative; }
  .qrcode > img {
    width: 115px;
    padding-top: 23%;
    margin: 0 auto 30px; }
  .qrcode .btn {
    width: 100%;
    padding: 11px; }
    .qrcode .btn span {
      font-size: 1.2rem; }
    .qrcode .btn img {
      width: 45px; }
  .qrcode ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc; }
  .qrcode :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc; }
  .qrcode ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc; }
  .qrcode :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc; }
  .qrcode:before {
    content: '';
    display: block;
    background: #f7f7f7;
    width: 25%;
    height: 35%;
    position: absolute;
    z-index: -1;
    border-radius: 0 0 0 20px;
    right: 0;
    top: 0; }
  .qrcode:after {
    content: '';
    display: block;
    background: #E8F3FA;
    width: 25%;
    height: 45%;
    position: absolute;
    z-index: -1;
    border-radius: 0 20px 20px 0;
    left: 0;
    bottom: 5%; }
  .qrcode label.error {
    color: #dc0303;
    margin: -15px 0 15px;
    display: block;
    font-size: 1.1rem; }

.qr_cont {
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  .qr_cont p {
    font-size: 1.2rem;
    margin: 0  0 20px;
    font-weight: bold; }
  .qr_cont h3 {
    background: #8ABABB;
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold; }

.code {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  margin: 20px  0 20px;
  outline: none;
  font-weight: bold;
  background: none; }

.none {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 50px 0 0; }

body {
  cursor: url(../img/wing.cur), auto;
  -webkit-cursor: url(../img/wing.cur), auto; }

footer {
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px; }

.m-nav {
  display: none; }

@media screen and (max-width: 1290px) {
  .wrap_box3:before {
    width: 98%; }
  .map_box .btn_box button {
    padding: 10px 10px; }
  .map_ul {
    margin-top: 180px;
    height: calc( 100vh - 280px); } }

@media screen and (max-width: 1220px) {
  h1 img {
    width: 30px; }
  .nav {
    display: none;
    float: none;
    text-align: center;
    width: 100%;
    top: 62px;
    right: 0;
    z-index: 10;
    padding-right: 0; }
    .nav li {
      float: none;
      display: block;
      margin: 0;
      border-bottom: 1px solid #ccc; }
    .nav ul li a {
      padding: 20px 0; }
    .nav ul {
      border-top: 1px solid #ccc;
      width: 100%;
      display: block; }
    .nav img {
      margin: 0 auto; }
  .fb {
    display: block;
    margin: 0 auto;
    padding: 20px 0; }
  .wrap1 {
    padding: 65px 10px 0; }
  .wrap_box2:before {
    width: 97%; }
  .video {
    margin: 20px auto 0;
    height: 600px; }
  .box {
    width: 33vw; }
  .num_box {
    width: 44%; }
  .docter {
    width: 89%; }
  .md2 {
    width: 40%; }
    .md2 img {
      width: 100%; }
  .qa_l p {
    width: calc( 100% - 110px);
    vertical-align: middle; }
  .map_wrap {
    padding: 65px 0 0; }
  .search {
    top: 65px; }
  .map_ul {
    margin-top: 182px;
    height: calc( 100vh - 247px); }
  .m-nav {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 12px;
    right: 20px;
    display: block;
    z-index: 100; }
  .o-grid__item {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px; }
  .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
  .c-hamburger:focus {
    outline: none; }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 3px;
    background: #0080C7; }
  .c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: #0080C7; }
  .c-hamburger span::before {
    top: -7px; }
  .c-hamburger span::after {
    bottom: -7px; }
  .c-hamburger--htx {
    background-color: transparent; }
  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s; }
  .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform; }
  .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform; }
  /* active state, i.e. menu open */
  .c-hamburger--htx.is-active span {
    background: none; }
  .c-hamburger--htx.is-active span::before {
    top: 0;
    background-color: #0080C7;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    background-color: #0080C7;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .c-hamburger--htx.is-active span::before,
  .c-hamburger--htx.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s; } }

@media screen and (max-width: 1024px) {
  .tit_box {
    width: 90%; }
  .num_box {
    height: 270px; }
  .num_wrap {
    width: 59%;
    margin-top: 40px; }
  .pic {
    height: 260px; }
  .wrap_box3 {
    padding: 110px 0 40px; }
    .wrap_box3:before {
      top: 260px;
      height: 70%; }
  .wrap_box4 {
    padding: 100px 0 40px; }
  .wrap_box5 {
    padding: 100px 0 0; }
    .wrap_box5:before {
      top: 2%;
      height: 53%; }
  .wrap_box6 {
    padding: 90px 0 50px; }
  .map_box {
    width: 40%; }
  #cont_map {
    width: 60%;
    height: calc( 100vh - 65px); }
  .search {
    width: 40%; }
  .search_input {
    margin: 0 0 8px; }
  .map_ul {
    margin-top: 175px;
    height: calc( 100vh - 240px); }
  .lb_cont img {
    width: 100%; } }

@media screen and (max-width: 780px) {
  html {
    font-size: 16px; }
  .btn_top {
    right: 10px; }
  .more_clinic {
    left: 10px; }
  .wrap_box2 {
    padding: 100px 0 0; }
  .wrap_box2:after {
    top: 38.5%; }
  .wrap1 img {
    width: 80%; }
  .video {
    height: 500px; }
  .tit_logo {
    width: 150px; }
  .tit_txt {
    width: calc( 100% - 190px); }
  .md {
    width: 85%;
    margin: 0 auto; }
    .md img {
      width: 100%; }
  .box {
    padding: 20px;
    width: 30vw; }
  .box_r {
    top: 200px; }
  .wrap_box4:before {
    height: 60%; }
  .know > div {
    display: block; }
  .md2 {
    width: 50%;
    margin: 0 auto; }
  .num_wrap {
    width: 90%;
    margin: 50px auto 0; }
  .num_box {
    height: 200px; }
  .num_box:nth-child(3), .num_box:nth-child(4) {
    margin-bottom: 40px; }
  .wrap_box5:before {
    width: 80%;
    height: 57%; }
  .up {
    height: 200px; }
  .qa_l li {
    margin: 20px 0; }
  .qa_l img {
    width: 70px; }
  .qa_l p {
    width: calc( 100% - 90px); }
  .pic {
    height: 290px;
    width: 98%; }
  .light_box {
    padding: 50px; }
  .close img {
    width: 35px; }
  .map_box {
    width: 100%; }
  .search {
    width: 100%;
    padding: 20px;
    border-right: none; }
  .map_ul {
    height: auto;
    margin-top: 130px;
    padding-bottom: 40px; }
  .map_box {
    border-right: none; }
  .map_wrap {
    position: relative;
    overflow-x: hidden; }
  #cont_map {
    float: none;
    width: 100%;
    position: fixed !important;
    right: -780px;
    top: 65px;
    z-index: 10;
    height: calc( 100vh - 106px); }
  .map_tab {
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 11;
    width: 100%; }
    .map_tab li {
      float: left;
      background: #ccc;
      color: #fff;
      padding: 10px;
      width: 150px;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      font-size: 0;
      width: 50%; }
      .map_tab li:first-child {
        border-right: 1px solid #fff; }
      .map_tab li.act {
        background: #035380; }
      .map_tab li p {
        font-size: 1.1rem; } }

@media screen and (max-width: 600px) {
  .video {
    height: 400px; }
  .wrap_box2:before {
    height: 21%; }
  .wrap_box2:after {
    display: none; }
  .md {
    margin: 0 auto 20px; }
  .box {
    position: relative;
    width: 90%;
    margin: 0 auto 20px; }
  .box_l, .box_r {
    top: 0; }
  .pic {
    height: 380px; } }

@media screen and (max-width: 480px) {
  .btn_top {
    width: 40px;
    bottom: 20px; }
    .btn_top img {
      width: 100%; }
  .more_clinic {
    width: 75px;
    height: 75px;
    bottom: 20px; }
    .more_clinic img {
      width: 30px;
      margin: 10px auto 1px; }
    .more_clinic span {
      font-size: .7rem; }
  h2 {
    font-size: 2.8rem; }
  .tit_c h2:after {
    height: 6px;
    width: 80px; }
  .wrap_box2:before, .wrap_box4:before, .wrap_box6:before {
    border-radius: 30px 0 0 30px; }
  .wrap_box3:before, .wrap_box5:before {
    border-radius: 0 20px 20px 0; }
  .video {
    height: 250px; }
  .wrap1 img {
    bottom: -20px; }
  .tit_logo {
    width: 20%;
    margin: 0 15px 0 0; }
  .tit_txt {
    width: 73%;
    margin: 0; }
  .tit_box {
    margin: 0 auto 10px; }
  .wrap_box2:before {
    height: 17%; }
  .swiper-clinic .swiper-slide {
    min-height: auto; }
  .wrap_box3 {
    padding: 80px 0 40px; }
    .wrap_box3:before {
      top: 32%; }
  .swiper-clinic {
    margin: 50px 0;
    padding: 0 20px 30px; }
  .wrap_box4 {
    padding: 80px 0 40px; }
  .md2 {
    width: 80%; }
  .num_wrap {
    width: 95%; }
  .num_box {
    display: block;
    width: 100%;
    margin: 0 auto 70px;
    height: 160px;
    padding: 45px 30px 30px; }
    .num_box img {
      width: 95px; }
  .num_box:nth-child(3), .num_box:nth-child(4) {
    margin: 0 auto 70px; }
  .num_box:nth-child(3) {
    height: 175px; }
  .num_box:nth-child(odd) {
    margin-right: auto; }
  .num_box:before, .num_box:nth-child(4):before {
    right: 20px;
    bottom: -40px;
    border-width: 40px 25px 0 25px;
    border-color: #0080C7 transparent transparent transparent;
    left: auto;
    top: auto; }
  .docter:before {
    border-color: transparent  transparent #035380 transparent;
    border-width: 0  25px 40px 25px;
    top: -30px;
    left: 10px; }
  .docter {
    margin: 0 auto;
    width: 100%; }
  .wrap_box5:before {
    height: 55%; }
  .q1_cont li {
    display: block;
    width: 100%;
    margin: 0 0 20px; }
    .q1_cont li > div {
      display: inline-block;
      vertical-align: top; }
  .up {
    width: 40%;
    border-radius: 10px 0 0 10px; }
    .up:before {
      font-size: 6.5rem; }
    .up p {
      font-size: 1.9rem; }
  .down {
    width: 60%;
    padding: 20px 15px 0; }
  .qa span {
    width: 60px;
    vertical-align: middle; }
  .qa p {
    width: calc( 100% - 75px);
    vertical-align: middle; }
  .q2_cont {
    width: 97%; }
  .qa_l {
    display: block;
    width: 100%; }
  .qa_r {
    display: block;
    width: 90%;
    margin: 0 auto; }
  .qa_l img {
    width: 15%; }
  .qa_l p {
    width: calc( 100% - 15% - 20px);
    font-size: 1.1rem; }
  .wrap_box6:before {
    width: 78%;
    height: 53%; }
  .swiper-article {
    margin: 40px 0 0; }
  .pic {
    height: 290px; }
  .close {
    right: 10px;
    top: 10px; }
  .light_box {
    padding: 30px 35px;
    height: 80vh; }
  .lightbox_wrap {
    top: 50%;
    width: 90%; } }

@media screen and (max-width: 375px) {
  .pic {
    height: 250px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 14px; }
  .pic {
    height: 210px; }
  .up p {
    font-size: 1.5rem; }
  .qrcode > img {
    padding-top: 15%; } }
