@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: auto; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0;
  display: block; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none;
  list-style-type: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  outline: none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */
  cursor: pointer; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none; }

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none; }

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none; }

:focus {
  outline: none; }

input[type="checkbox"] {
  width: 1px;
  height: 1px;
  opacity: 0; }

input[type="checkbox"]:checked + .check-box::after {
  content: '\e902';
  display: block;
  font-family: 'icomoon' !important;
  font-size: 1.5rem;
  text-rendering: auto;
  color: #000;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 0 0 0 2px;
  line-height: 40px;
  text-align: center; }

.check-box {
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.radiobox label {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1.1rem;
  cursor: pointer; }

.radiobox input[type='radio'] {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #696969;
  padding: 0;
  margin: 0px;
  vertical-align: middle; }

.radiobox input[type='radio']:checked {
  position: relative; }
  .radiobox input[type='radio']:checked:before {
    content: "";
    background: #696969;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }

.e-form {
  width: 80%;
  margin: 0 auto; }
  .e-form li {
    margin-bottom: 25px; }

.e-form-list {
  display: flex;
  align-items: center;
  position: relative; }
  .e-form-list input {
    height: 60px;
    line-height: 60px;
    width: calc( 100% - 150px);
    padding: 0 15px; }
  .e-form-list span {
    width: 150px;
    display: inline-block;
    text-align: left; }
  .e-form-list > div {
    width: calc( 100% - 150px); }
  .e-form-list select {
    width: 49%;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    background: #fff url(../img/icon_bluearrow.svg) no-repeat right 15px center; }
  .e-form-list label.error {
    position: absolute;
    bottom: -20px;
    color: #DF020D;
    left: 150px;
    font-size: .9rem; }

.e-form-list_address > div {
  display: flex;
  justify-content: space-between; }

.e-form-list_address > input {
  width: 100%;
  margin-top: 25px; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .clearfix {
  display: block; }

.unset img {
  max-width: 100%;
  height: auto !important; }

* {
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%;
  font-family: '微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro',新細明體;
  font-size: 16px;
  color: #2A2A2A; }

button {
  outline: none;
  font-size: 100%; }

input, textarea, select {
  color: #2A2A2A;
  outline: none;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  font-family: '微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro',新細明體; }

a {
  color: #2A2A2A; }

@media screen and (max-width: 780px) {
  html, body {
    font-size: 16px; } }

.l-menu {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.l-logo {
  display: inline-block;
  vertical-align: middle; }
  .l-logo img {
    margin-left: 20px;
    height: 35px; }

.l-menu_item {
  display: flex;
  font-weight: bold; }
  .l-menu_item ul {
    display: flex; }
    .l-menu_item ul li a {
      padding: 30px 12px;
      display: block;
      transition: .3s;
      position: relative; }
      .l-menu_item ul li a:before {
        content: '';
        display: none;
        width: 100%;
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 0; }
  .l-menu_item .l-menu_link {
    background: #D60057;
    color: #fff;
    padding: 30px 15px;
    transition: .3s; }
    .l-menu_item .l-menu_link:hover {
      opacity: .8; }

.l-menu_mobile {
  display: none; }

.l-orange:hover {
  color: #FF8300; }
  .l-orange:hover:before {
    display: block;
    background: #FF8300; }

.l-purple:hover {
  color: #862288; }
  .l-purple:hover:before {
    display: block;
    background: #862288; }

.l-pink:hover {
  color: #D60057; }
  .l-pink:hover:before {
    display: block;
    background: #D60057; }

.l-yellow:hover {
  color: #ffd101; }
  .l-yellow:hover:before {
    display: block;
    background: #ffd101; }

.l-menu-icon:hover img {
  opacity: .8; }

@media screen and (max-width: 1024px) {
  .l-menu {
    display: block;
    border-bottom: 1px solid #ccc; }
  .l-logo {
    padding: 20px 0; }
    .l-logo img {
      height: 30px; }
  .l-menu_item {
    display: none;
    text-align: center;
    width: 100%;
    z-index: 10; }
    .l-menu_item ul {
      border-top: 1px solid #ccc;
      width: 100%;
      display: block; }
      .l-menu_item ul li {
        border-bottom: 1px solid #ccc; }
        .l-menu_item ul li a {
          padding: 15px 0; }
          .l-menu_item ul li a:hover:before {
            display: none; }
        .l-menu_item ul li .l-menu-icon img {
          margin: 0 auto; }
    .l-menu_item .l-menu_link {
      display: block;
      padding: 15px 0; }
  .l-menu_mobile {
    display: block; }
  .l-menu_mobile {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 12px;
    right: 20px;
    display: block;
    z-index: 100; }
  .o-grid__item {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px; }
  .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
  .c-hamburger:focus {
    outline: none; }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 3px;
    background: #FF8300; }
  .c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: #FF8300; }
  .c-hamburger span::before {
    top: -7px; }
  .c-hamburger span::after {
    bottom: -7px; }
  .c-hamburger--htx {
    background-color: transparent; }
  .c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s; }
  .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform; }
  .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform; }
  /* active state, i.e. menu open */
  .c-hamburger--htx.is-active span {
    background: none; }
  .c-hamburger--htx.is-active span::before {
    top: 0;
    background-color: #FF8300;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    background-color: #FF8300;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .c-hamburger--htx.is-active span::before,
  .c-hamburger--htx.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s; } }

.l-gotop {
  position: fixed;
  right: 10px;
  bottom: 60px;
  background: #D60057;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  transition: .3s;
  border-radius: 50%; }
  .l-gotop:hover {
    opacity: .9; }

@media screen and (max-width: 600px) {
  .l-gotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 30px; } }

.l-clinic {
  position: fixed;
  left: 10px;
  bottom: 60px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  display: block; }
  .l-clinic:hover {
    opacity: .9; }

@media screen and (max-width: 600px) {
  .l-clinic {
    bottom: 30px; }
  .l-clinic img {
    width: 80px; } }

.col-wrap {
  width: 100%;
  position: relative; }

.col-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px;
  position: relative; }

.col-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.col-6 {
  width: 50%;
  justify-content: space-between;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.col-4 {
  width: 33.3333%;
  justify-content: space-between;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.col-3 {
  width: 25%;
  justify-content: space-between;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.col-float_l {
  float: left; }

.col-float_r {
  float: right; }

.c-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 100px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .5s;
  color: #fff;
  background: #FF8300; }
  .c-btn:hover {
    border: 1px solid #FF8300;
    background: #fff;
    color: #FF8300; }

.c-wrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px; }

.c-wrap-w {
  width: 100%; }

.c-lightbox-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101; }
  .c-lightbox-wrap .c-btn {
    cursor: pointer; }

.c-lightbox-wrapTxt {
  background: #fff;
  padding: 50px 50px 40px;
  border-radius: 5px; }
  .c-lightbox-wrapTxt > p {
    margin-bottom: 20px; }

.c-close {
  position: absolute;
  right: -25px;
  top: -25px;
  background: #ffd101;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .3s; }
  .c-close span {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 50px; }

@media screen and (max-width: 600px) {
  .c-close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: -20px;
    top: -20px; }
    .c-close span {
      line-height: 40px; }
  .c-lightbox-wrapTxt {
    width: 80%;
    text-align: center;
    padding: 50px 20px 40px; } }

.c-pagination {
  text-align: center;
  margin-bottom: 70px; }
  .c-pagination a {
    display: inline-block;
    margin: 0 2px;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #2248AE;
    padding: 0; }
    .c-pagination a:hover {
      color: #fff;
      border-color: #2248AE;
      background: #2248AE;
      transition: .5s; }
    .c-pagination a span {
      vertical-align: middle;
      line-height: 30px; }
  .c-pagination .c-pagination--active {
    background: #2248AE;
    color: #fff; }

.h-center {
  text-align: center; }

.h-noscroll {
  overflow: hidden; }

.h-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  top: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .clearfix {
  display: block; }

.h-fz9 {
  font-size: .9rem; }

.h-bdr5 {
  border-radius: 5px; }

.h-dib {
  display: inline-block; }

.h-pd15 {
  padding: 0 15px; }

.h-pdB20 {
  padding-bottom: 20px; }

.h-pdB45 {
  padding-bottom: 45px; }

.h-pdT15 {
  padding-top: 15px; }

.h-mLR15 {
  margin: 0 15px; }

.h-mt10 {
  margin-top: 10px; }

.h-mt15 {
  margin-top: 15px; }

.h-mt20 {
  margin-top: 20px; }

.h-mt25 {
  margin-top: 25px; }

.h-mt30 {
  margin-top: 30px; }

.h-mb20 {
  margin-bottom: 20px; }

.h-flex {
  display: flex; }

.h-flex-sb {
  display: flex;
  justify-content: space-between; }

.h-flex-center {
  display: flex;
  justify-content: center; }

.h-bdT2 {
  border-top: 2px solid #696969; }

.h-bdB2 {
  border-bottom: 2px solid #696969; }

.h-box8 {
  width: 8%; }

.h-box10 {
  width: 10%; }

.h-box15 {
  width: 15%; }

.h-box18 {
  width: 18%; }

.h-box20 {
  width: 20%; }

.h-box25 {
  width: 25%; }

.h-box30 {
  width: 30%; }

.h-bgYellow {
  background: #F6F2EC; }

.h-yellow {
  background: #ffd101; }

.h-pink {
  background: #D60057; }

.h-orange {
  background: #FF8300; }

.h-purple {
  background: #862288; }

.h-note-flex {
  color: #555;
  display: flex;
  margin: 10px 0; }

.h-break-all {
  word-break: break-all; }

.h-input-color ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #696969; }

.h-input-color :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #696969; }

.h-input-color ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #696969; }

.h-input-color :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #696969; }

code {
  font-size: .8rem;
  vertical-align: super; }

body {
  cursor: url(../img/heart.cur), auto;
  -webkit-cursor: url(../img/heart.cur), auto; }

.video {
  padding-top: 82px; }
  .video iframe {
    width: 100%;
    height: calc( 100vh - 82px); }

@media screen and (max-width: 1024px) {
  .video iframe {
    height: 50vh; } }

@media screen and (max-width: 600px) {
  .video iframe {
    height: 40vh; } }

#page1 {
  position: relative; }
  #page1:after {
    content: '';
    background: url(../img/bg_line.svg) no-repeat center/cover;
    display: block;
    position: absolute;
    width: 100vw;
    height: 500px;
    top: 26vw;
    left: 0;
    z-index: -1; }

.intro_page {
  padding: 90px 0 0;
  position: relative;
  overflow: hidden; }
  .intro_page:after {
    content: '';
    background: url(../img/txt_Intro.svg) no-repeat center;
    display: block;
    position: absolute;
    width: 700px;
    height: 90px;
    bottom: 0;
    left: 0; }

.slogn_tit {
  width: 50%;
  padding: 0 20px;
  margin-bottom: 50px;
  margin-left: 5%; }
  .slogn_tit img {
    width: 100%; }

.intro_wrap {
  display: flex;
  position: relative;
  justify-content: center; }

.intro_img {
  width: 30%;
  margin-left: 20%;
  position: relative;
  z-index: 2; }
  .intro_img > img {
    width: 100%; }

.slogn {
  position: absolute;
  z-index: 0; }

.slogn_product {
  width: 30%;
  left: 3%;
  bottom: 50px; }

.slogn_pink {
  top: 8%;
  left: 11%;
  width: 35%;
  background: #D60057;
  z-index: 0; }
  .slogn_pink img {
    width: 100%; }
  .slogn_pink:before {
    content: '';
    display: block;
    background: #D60057;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%; }

.slogn_yellow {
  top: 10%;
  right: 2%;
  width: 20%;
  background: #ffd101; }
  .slogn_yellow img {
    width: 100%; }
  .slogn_yellow:before {
    content: '';
    display: block;
    background: #ffd101;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%; }

.slogn_orange {
  top: calc( 20% + 165px);
  right: 0%;
  width: 20%;
  background: #FF8300; }
  .slogn_orange img {
    width: 100%; }

.slogn_sign {
  bottom: 20px;
  right: 5%;
  width: 15%; }
  .slogn_sign img {
    width: 100%; }

@media screen and (max-width: 1024px) {
  .intro_wrap {
    align-items: flex-end; }
  #page1:after {
    top: 45vw;
    height: 300px; } }

@media screen and (max-width: 780px) {
  .intro_page {
    padding: 50px 0 0; }
  .slogn_orange {
    top: calc( 20% + 65px); } }

@media screen and (max-width: 600px) {
  #page1:after {
    top: 59vw;
    height: 150px; }
  .slogn_orange {
    top: calc( 10% + 65px); }
  .slogn_product {
    bottom: 20px;
    left: 20px; }
  .slogn_tit {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0; } }

.intro_wrap2 {
  padding: 100px 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .intro_wrap2 h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px; }
    .intro_wrap2 h2 span {
      position: relative;
      padding: 0 35px; }
      .intro_wrap2 h2 span:before {
        content: '';
        background: url(../img/icon_deco.svg) no-repeat;
        width: 35px;
        height: 35px;
        display: inline-block;
        position: absolute;
        left: 0; }
      .intro_wrap2 h2 span:after {
        content: '';
        background: url(../img/icon_deco.svg) no-repeat;
        width: 35px;
        height: 35px;
        display: inline-block;
        transform: rotate(180deg);
        position: absolute;
        right: 0;
        bottom: -5px; }
  .intro_wrap2 > img {
    padding-top: 30px; }

.swiperIntro {
  width: 100%; }
  .swiperIntro h3 {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 15px; }
  .swiperIntro ul {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto; }
    .swiperIntro ul ol:first-child {
      margin-right: 10px; }
    .swiperIntro ul ol img {
      width: 100%; }
    .swiperIntro ul p {
      margin-top: 3px;
      text-align: center;
      font-weight: bold; }
  .swiperIntro .swiper-button-next, .swiperIntro .swiper-button-prev {
    top: 58%;
    background-image: url(../img/icon_arrow.svg);
    width: 35px;
    height: 35px;
    background-size: contain; }
  .swiperIntro .swiper-button-prev {
    transform: rotate(180deg); }

.intro_effect {
  width: 60%; }
  .intro_effect > ul {
    width: 100%;
    color: #555;
    list-style-type: decimal;
    margin: 50px 0 0;
    padding-left: 50px; }
    .intro_effect > ul p {
      margin: 0 0 10px -20px; }

.product_img {
  width: 35%; }
  .product_img img {
    width: 100%; }

@media screen and (max-width: 1024px) {
  .swiperIntro ul {
    width: 80%; }
    .swiperIntro ul ol img {
      width: 100%; } }

@media screen and (max-width: 780px) {
  .intro_wrap2 {
    flex-direction: column-reverse;
    padding: 30px 20px 60px; }
  .product_img {
    display: none; }
  .intro_effect {
    width: 100%; }
  .intro_effect > ul {
    padding-left: 30px; } }

@media screen and (max-width: 600px) {
  .swiperIntro .swiper-button-next, .swiperIntro .swiper-button-prev {
    width: 30px;
    height: 30px;
    top: 62%; }
  .swiperIntro .swiper-button-next {
    right: 0; }
  .swiperIntro .swiper-button-prev {
    left: 0; }
  .intro_effect > ul {
    margin: 30px 0; }
  .intro_page:after {
    width: 100%;
    height: 50px;
    background-size: contain; }
  .intro_wrap2 h2 {
    margin-bottom: 20px; } }

.CPM_wrap {
  padding-top: 100px;
  overflow: hidden; }
  .CPM_wrap > h2 {
    font-size: 3rem;
    color: #D60057;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px; }
    .CPM_wrap > h2 img {
      margin-right: 20px; }
    .CPM_wrap > h2 p {
      padding-top: 20px;
      position: relative; }
      .CPM_wrap > h2 p:after {
        content: '';
        display: block;
        position: absolute;
        background: url(../img/txt_CPM.svg) no-repeat center;
        right: -167px;
        top: -25px;
        width: 265px;
        height: 90px;
        z-index: -1; }
    .CPM_wrap > h2 span {
      position: relative; }
      .CPM_wrap > h2 span:after {
        content: '';
        display: block;
        position: absolute;
        width: 55px;
        height: 5px;
        background: #D60057;
        left: 50%;
        transform: translateX(-50%); }
  .CPM_wrap > div {
    display: flex; }

.CPM_txt {
  margin-right: 80px;
  width: calc( 100% - 90px - 40%); }
  .CPM_txt > img {
    margin: 20px 0 0;
    width: 100%; }

.CPM_img {
  width: 40%; }
  .CPM_img img {
    width: 100%; }

.CPM_table > div:first-child {
  display: flex;
  justify-content: space-between; }
  .CPM_table > div:first-child > div {
    background: #aaa;
    color: #fff;
    width: 49%;
    text-align: center;
    padding: 2px 0; }

.CPM_table li {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px dashed #D60057; }
  .CPM_table li h2 {
    width: 15%;
    margin-right: 15px;
    font-size: 1.1rem;
    font-weight: bold; }
  .CPM_table li h3 {
    width: 35%;
    margin-right: 15px; }
  .CPM_table li h4 {
    width: 50%; }
  .CPM_table li:nth-child(2) h2 {
    color: #FF8300; }
  .CPM_table li:nth-child(3) h2 {
    color: #D60057; }
  .CPM_table li:nth-child(4) h2 {
    color: #862288; }
  .CPM_table li:last-child {
    border-bottom: 0; }

@media screen and (max-width: 1024px) {
  .CPM_txt > img {
    width: 100%; } }

@media screen and (max-width: 780px) {
  .CPM_wrap > h2 img {
    width: 25%; }
  .CPM_wrap > div {
    flex-direction: column-reverse; }
  .CPM_txt {
    width: 100%;
    margin: 30px 0 0; }
  .CPM_txt > img {
    width: 70%;
    margin: 0 auto 20px; }
  .CPM_img {
    width: 60%;
    margin: 30px auto 0; } }

@media screen and (max-width: 600px) {
  .CPM_wrap {
    padding-top: 60px; }
  .CPM_wrap > h2 {
    font-size: 2rem;
    margin-bottom: 0px; }
  .CPM_wrap > h2 p:after {
    height: 70px;
    background-size: contain;
    right: -63px; }
  .CPM_table li h2 {
    font-size: 1rem; } }

.advantage_wrap {
  padding-top: 170px;
  overflow: hidden; }
  .advantage_wrap .h-note-flex {
    width: 85%;
    margin: 15px auto; }

.advantage_img {
  width: 45%;
  margin: 0 60px 0 20px; }
  .advantage_img img {
    width: 100%; }

.advantage_txt {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px; }
  .advantage_txt > img {
    margin-right: 95px; }
  .advantage_txt h2 {
    font-size: 3.75rem;
    font-weight: bold;
    color: #FF8300;
    letter-spacing: 3px; }
    .advantage_txt h2 span {
      position: relative;
      margin-right: 10px; }
      .advantage_txt h2 span:after {
        content: '';
        display: block;
        position: absolute;
        width: 55px;
        height: 5px;
        background: #FF8300;
        left: 50%;
        transform: translateX(-50%); }
  .advantage_txt ul {
    width: calc( 100% - 70px - 45%); }
    .advantage_txt ul h2 {
      margin-bottom: 50px;
      position: relative; }
      .advantage_txt ul h2:before {
        content: '';
        width: 730px;
        height: 155px;
        background: url(../img/txt_advantage.svg) no-repeat center/contain;
        display: block;
        position: absolute;
        bottom: 7px;
        left: -180px;
        z-index: -1; }
    .advantage_txt ul li {
      border-bottom: 1px solid #FF8300;
      padding: 30px 0; }
      .advantage_txt ul li:last-child {
        border-bottom: 0;
        padding: 30px 0 0; }
    .advantage_txt ul h3 {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 10px; }
    .advantage_txt ul p {
      font-size: 1.1rem; }

@media screen and (max-width: 1024px) {
  .advantage_txt {
    align-items: center; }
  .advantage_txt ul {
    width: 55%; } }

@media screen and (max-width: 780px) {
  .advantage_wrap {
    padding-top: 100px; }
  .advantage_txt {
    flex-direction: column-reverse; }
  .advantage_txt ul {
    width: 90%;
    margin: 0 auto; }
  .advantage_txt ul h2 {
    margin-left: 50px; }
  .advantage_txt ul h2:before {
    left: -100px;
    height: 130px; }
  .advantage_img {
    width: 70%;
    margin: 20px auto 0; } }

@media screen and (max-width: 600px) {
  .advantage_txt ul h2 {
    font-size: 3rem;
    margin-bottom: 20px; }
  .advantage_txt ul h2:before {
    height: 90px;
    left: -210px; }
  .advantage_txt {
    margin-bottom: 40px; }
  .advantage_wrap .h-note-flex {
    width: 90%; } }

#page4 {
  position: relative;
  overflow: hidden; }
  #page4:before {
    content: "";
    background: #F8F8F8;
    width: 80%;
    height: 60vh;
    display: block;
    position: absolute;
    z-index: -1;
    top: 170px; }
  #page4:after {
    content: "";
    background: url(../img/txt_effort.svg) no-repeat center/contain;
    width: 950px;
    height: 150px;
    position: absolute;
    top: 0;
    right: -33px;
    top: 95px; }

.effort_wrap {
  padding: 300px 0 100px; }
  .effort_wrap > img {
    margin-left: 5%; }
  .effort_wrap > p {
    width: 90%;
    margin: 20px auto 30px;
    font-weight: bold;
    font-size: 1.2rem; }

.effort {
  padding: 90px 0 100px;
  display: flex;
  justify-content: center;
  position: relative; }

.effort_img {
  width: 35%; }

.card {
  position: absolute;
  width: 34%; }

.effort_box {
  cursor: pointer; }
  .effort_box img {
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }

.effort_txt {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 8vw 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .effort_txt p, .effort_txt span {
    font-size: 2.8rem;
    color: #fff;
    transition: .3s; }
  .effort_txt:hover span {
    transform: translateX(10px); }

.card_yellow {
  left: 10px;
  top: 50px; }

.card_pink {
  left: 40px;
  bottom: 50px; }

.card_orange {
  right: 10px;
  top: 10px; }

.card_purple {
  right: 10px;
  bottom: 0px; }

@media screen and (max-width: 1024px) {
  #page4:after {
    height: 120px;
    right: auto;
    left: -30px; } }

@media screen and (max-width: 780px) {
  .effort_wrap {
    padding: 210px 0 100px; }
  #page4:before {
    top: 110px; }
  #page4:after {
    top: 54px; }
  .effort_tit {
    width: 80%; } }

@media screen and (max-width: 600px) {
  .effort_wrap > img {
    width: 90%; }
  .effort_tit {
    top: 40px;
    font-size: 1.3rem;
    width: 100%;
    text-align: left; }
  #page4:after {
    height: 100px;
    left: -140px; }
  .effort_wrap {
    padding: 160px 0 0; }
  .effort {
    display: block;
    padding: 0 0 50px; }
  .effort_img {
    width: 60%;
    margin: 0 auto 30px; }
  .card {
    position: relative;
    width: 90%;
    margin: 0 auto 30px; }
  .effort_txt {
    padding: 24vw 0; }
  .card_yellow {
    left: 0;
    top: 0; }
  .card_pink {
    left: 0;
    bottom: 0; }
  .card_orange {
    right: 0;
    top: 0; }
  .card_purple {
    right: 0;
    bottom: 0; } }

.qa_img {
  width: 40%;
  margin-bottom: -38px; }

.qa_wrap {
  padding: 70px 10px 50px;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end; }

.qa_model {
  width: 40%;
  margin-bottom: -80px; }
  .qa_model img {
    width: 100%; }

.qa_box {
  margin-left: 20px;
  width: 60%; }
  .qa_box > div {
    display: flex; }
    .qa_box > div:last-child {
      align-items: flex-end;
      margin-top: -50px; }
  .qa_box li {
    width: 45%;
    border-top: 1px solid #FF8300;
    padding: 10px 0; }
    .qa_box li:nth-child(2n) {
      margin-left: 40px; }
  .qa_box .num {
    color: #FF8300;
    font-weight: bold; }
  .qa_box h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0; }
  .qa_box p {
    color: #555;
    line-height: 1.5; }

@media screen and (max-width: 780px) {
  .qa_wrap {
    display: block; }
  .qa_model {
    margin: 0 auto 30px; }
  .qa_box {
    width: 90%;
    margin: 0 auto; }
    .qa_box > div {
      justify-content: space-between; } }

@media screen and (max-width: 600px) {
  .qa_wrap {
    padding: 50px 0px 50px; }
  .qa_img {
    width: 60%;
    margin-bottom: -18px; }
  .qa_model {
    width: 60%; }
  .qa_box > div:last-child {
    margin-top: -150px; }
  .qa_box li {
    width: 50%; }
    .qa_box li:nth-child(2n) {
      margin-left: 20px; } }

#page6 {
  position: relative;
  overflow: hidden; }
  #page6:after {
    content: '';
    background: url(../img/bg_line.svg) no-repeat center/cover;
    display: block;
    position: absolute;
    width: 100vw;
    height: 500px;
    top: 26vw;
    left: 0;
    z-index: -1; }

.blog_wrap {
  padding: 160px 0 150px;
  overflow: hidden; }
  .blog_wrap h2 {
    text-align: center;
    color: #D60057;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 80px;
    position: relative; }
    .blog_wrap h2 span {
      position: relative;
      margin-right: 10px; }
      .blog_wrap h2 span:after {
        content: '';
        display: block;
        position: absolute;
        width: 55px;
        height: 5px;
        background: #D60057;
        left: 50%;
        transform: translateX(-50%); }
    .blog_wrap h2:before {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/txt_blog.svg) no-repeat center/contain;
      width: 470px;
      height: 150px;
      top: -80px;
      right: 6%; }

.blog_img {
  width: 320px; }
  .blog_img img {
    width: 100%; }

.blog_ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

.blog_ul h3 {
  font-weight: bold;
  font-size: 1.1rem; }

.blog_ul p {
  margin: 10px 0;
  font-size: .9rem; }

.blog_txt {
  padding: 50px 100px;
  background: url(../img/blog_bg.png) no-repeat center/contain;
  height: 250px; }

.blog_txt2 {
  background: url(../img/blog_bg2.png) no-repeat center/contain; }

.open_LB {
  cursor: pointer;
  font-size: .9rem;
  background: #D60057;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 20px;
  letter-spacing: 1px; }

@media screen and (max-width: 1024px) {
  .blog_img {
    width: 25%; } }

@media screen and (max-width: 780px) {
  .blog_wrap {
    padding: 90px 0 50px; }
  .blog_wrap h2:before {
    left: 20px; }
  .blog_ul li {
    flex-direction: column; }
  .blog_ul li:last-child {
    flex-direction: column-reverse; }
  .blog_img {
    margin: 0 auto;
    width: 40%; }
  .blog_txt {
    padding: 88px 30% 0;
    background: url(../img/blog_bg_m.png) no-repeat center/contain;
    width: 100%;
    height: 350px; } }

@media screen and (max-width: 600px) {
  .blog_wrap h2:before {
    height: 110px;
    left: -70px; }
  .blog_wrap h2 {
    font-size: 2.5rem;
    margin-bottom: 60px; }
  .blog_txt {
    padding: 90px 20% 0; } }

.lb_wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  -webkit-overflow-scrolling: touch;
  width: 70%;
  background: #fff;
  padding: 50px 50px;
  height: 80vh;
  overflow-y: scroll;
  border-radius: 5px; }
  .lb_wrap h2 {
    font-size: 2rem;
    color: #FF8300;
    margin-bottom: 10px; }
  .lb_wrap a {
    color: #FF8300;
    word-break: break-all; }
  .lb_wrap > p {
    margin: 10px 0; }
  .lb_wrap > img {
    width: 100%;
    margin-bottom: 5px; }
  .lb_wrap .blog_face {
    margin-bottom: 20px; }
    .lb_wrap .blog_face img {
      width: 40%; }

.close-btn {
  background: #FF8300;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  top: 10px; }
  .close-btn span {
    color: #fff;
    font-size: 2rem;
    line-height: 50px; }

@media screen and (max-width: 780px) {
  .lb_wrap {
    width: 90%;
    padding: 60px 20px 40px; }
    .lb_wrap img {
      width: 100%; } }

@media screen and (max-width: 600px) {
  .lb_wrap .blog_face img {
    width: 100%; }
  .lb_wrap h2 {
    font-size: 1.5rem; } }

.map_wrap {
  padding: 82px 0 0;
  height: 100vh; }

.map_box {
  width: 30%;
  display: inline-block;
  border-right: 1px solid #ccc; }
  .map_box .btn_box .c-btn:first-child {
    width: 38%; }
  .map_box .btn_box .c-btn:last-child {
    width: 60%; }
  .map_box .c-btn {
    height: 45px;
    cursor: pointer;
    padding: 0;
    line-height: 45px;
    font-size: 1rem; }

button.c-btn span {
  font-size: 1rem;
  font-family: '微軟正黑體',Arial; }

button {
  outline: none;
  border: none; }

.search {
  padding: 40px 20px;
  position: fixed;
  background: #fff;
  width: 30%;
  top: 82px;
  left: 0;
  border-right: 1px solid #ccc; }
  .search ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa; }
  .search :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa; }
  .search ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa; }
  .search :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #aaa; }

.search_input {
  width: 100%;
  padding: 12px 10px;
  font-size: 1rem;
  outline: none;
  background: #ececec;
  margin: 0px 0 15px; }

.map_ul {
  background: #fff;
  margin-top: 180px;
  height: calc( 100vh - 260px);
  overflow-y: scroll;
  position: relative; }
  .map_ul li {
    background: #F6F2EC;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer; }
    .map_ul li:hover {
      background: #F8F8F8; }
  .map_ul h3 {
    font-size: 1.3rem;
    font-weight: bold; }
  .map_ul h4 {
    font-size: .9rem;
    color: #939393;
    margin: 5px 0 10px; }
  .map_ul > h2 {
    background: #7C7C7C;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    position: absolute; }

.add, .phone {
  margin: 10px 0; }
  .add img, .phone img {
    display: inline-block;
    width: 15px;
    vertical-align: top;
    margin: 0 5px 0 0; }
  .add p, .phone p {
    display: inline-block;
    width: calc( 100% - 25px); }

.note {
  color: #FF8300;
  margin: 15px 0 0; }

.icon_map, .icon_map_now {
  width: 30px; }

#cont_map {
  float: right;
  width: 70%;
  position: absolute !important;
  right: 0;
  left: auto;
  height: calc( 100vh - 82px); }
  #cont_map iframe {
    width: 100%;
    height: 100%; }

.map_tab {
  display: none; }

@media screen and (max-width: 780px) {
  .map_box {
    width: 40%; }
  #cont_map {
    width: 60%;
    height: calc( 100vh - 74px); }
  .search {
    width: 40%;
    top: 74px; }
  .search_input {
    margin: 0 0 8px; }
  .map_ul {
    margin-top: 175px;
    height: calc( 100vh - 250px); }
  .lb_cont img {
    width: 100%; }
  .map_wrap {
    padding: 75px 0 0; } }

@media screen and (max-width: 600px) {
  .map_box {
    width: 100%; }
  .search {
    width: 100%;
    padding: 20px;
    border-right: none; }
  .map_ul {
    margin-top: 135px;
    padding-bottom: 40px; }
  .map_box {
    border-right: none; }
  .map_wrap {
    position: relative;
    overflow-x: hidden; }
  #cont_map {
    float: none;
    width: 100%;
    position: fixed !important;
    right: -780px;
    top: 75px;
    z-index: 10;
    height: calc( 100vh - 106px); }
  .map_tab {
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 11;
    width: 100%; }
    .map_tab li {
      float: left;
      background: #ccc;
      color: #fff;
      padding: 10px;
      width: 150px;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      font-size: 0;
      width: 50%; }
      .map_tab li:first-child {
        border-right: 1px solid #fff; }
      .map_tab li.act {
        background: #D60057; }
      .map_tab li p {
        font-size: 1.1rem; } }

.cookie-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FF8300;
  color: #fff;
  padding: 5px 10px;
  z-index: 11;
  display: flex;
  font-size: .9rem;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .cookie-box .agree {
    margin: 5px 0 5px 10px;
    display: flex; }
    .cookie-box .agree > div {
      margin-left: 10px;
      color: #fff;
      padding: 5px 10px;
      border: 1px solid #fff;
      font-size: .9rem; }

@media screen and (max-width: 600px) {
  .cookie-box {
    flex-direction: column;
    justify-content: flex-start; }
    .cookie-box .agree {
      margin-left: 0; }
      .cookie-box .agree > div:first-child {
        margin-left: 0; } }
