<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="title" content="Ching Hsuan’s Portfolio">
	<meta name="description" content="Ching Hsuan’s Portfolio">
	<meta name="Copyright" content="Copyright © 2021 ChingHsuan’s Portfolio">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>
	<title>Ching Hsuan’s Portfolio | 林靜萱 </title>
	
	<script src="../../js/jquery-3.4.0.js"></script>
	<!-- <script src="../../js/jquery-1.10.0.min.js"></script> -->
	<!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->

	<!-- 網頁頁籤上的icon -->
	<link rel="stylesheet" href="../../css/aos.css">
	<link rel="shortcut icon" href="../../img/favicon.png">
	<link rel="stylesheet" href="../../css/main.css">
</head>
<body>


<!-- {template header} -->


<section class="l-wrapper">

	<div class="l-nav_wrap">
		<nav class="">
			<div class="circle"></div> 
			<div class="navBtn">
				<div></div>
			</div>
			<ul>
				<li>
					<a href="#aboutWrap">About Me</a>
				</li>
				<li>
					<a href="#webDesignWrap">Web Design</a>
				</li>
				<li>
					<a href="#gameWrap">Game Web Design</a>
				</li>
				<li>
					<a href="#AppWrap">App UI/UX</a>
				</li>
				<li>
					<a href="#bannerWrap">Banner Design</a>
				</li>
			</ul>
		</nav>
	</div>

	
<div class="c-wrap-w">
	<div class="c-wrap-normal intr-wrap">
		<div class="myPic">
			<div></div>
		</div>
		<div class="myAbout">
			<h1>Hello,<br>I’m Ching Hsuan</h1>
			<h2>Ching Hsuan’s Portfolio <span>|</span> 林靜萱</h2>
			<div class="h-flex">
				<a href="mailto:shiuan9217@gmail.com" class="contactMe">
					<img src="../../img/icon_email.svg" alt="">
				</a>
				<a href="https://www.behance.net/shiuan921716e2/projects" class="contactMe" target="_blank">
					<img src="../../img/icon_behance.svg" alt="">
				</a>
			</div>
			
			<ul>
				<li>
					<a href="#aboutWrap">About Me</a>
				</li>
				<li>
					<a href="#webDesignWrap">Web Design</a>
				</li>
				<li>
					<a href="#AppWrap">App UI/UX</a>
				</li>
				<li>
					<a href="#bannerWrap">Banner Design</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="c-wrap-w" id="aboutWrap">
	<div class="c-wrap-normal">
		<ul class="about-wrap">
			<li>
				<div>About</div>
				<div>
					<p>我是 靜萱， 擁有3年的Web Design和APP設計實務經驗。<br>
					擅長 web 版面設計與前端切版動畫製作 。<br>
				    針對客戶需求的功能與特性，並以使用者操作習慣為前提下設計。</p>
				</div>
			</li>
			<li>
				<div>Skills</div>
				<div>
					<ol class="skills-list">
						<li>
							<div>Graphic Design</div>
							<div>
								<p>Sketch</p>
								<p>Figma</p>
								<p>Adobe Photoshop</p>
								<p>Adobe Illustrator</p>
								<p>Zeplin</p>
							</div>
						</li>
						<li>
							<div>Web Develop</div>
							<div>
								<p>HTML5</p>
								<p>CSS3 (SASS)</p>
								<p>Responsive Web Design(RWD)</p>
								<p>jQuery</p>
								<p>Sublime Text</p>
								<p>Visual Studio Code</p>
								<p>Bootstrap</p>
							</div>
						</li>
					</ol>
				</div>
			</li>
			<li>
				<div>Work experience</div>
				<div class="experience-list">
					<div>
						<h3>網頁設計師 |  關鍵數位科技有限公司
							<span>Feb 2018 ~</span>
						</h3>
						<p>主要負責 Web / App UI ，與pm討論流程規劃，設計視覺版面，切版完成網站。
						</p>
					</div>
					<div>
						<h3>互動式網頁設計UI/UX設計師養成班 |  資訊工業策進會
							<span> May 2017 ~ Nov 2017</span>
						</h3>
						<p>團隊合作設計網站，從主題發想、設計風格、使用者介面設計、ux流程規劃，到程式開發。 
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="c-wrap-w" id="webDesignWrap">
	<div class="c-wrap-normal">
		<h3 class="c-title">Web Site Design</h3>
		<ul class="col-row c-card-wrap">
			<a href="https://glorycapital.com.tw/?utm_source=geosun&gclid=EAIaIQobChMI6orCpuHN7gIVYMFMAh230QuoEAAYASAAEgLpzfD_BwE" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/glory.jpg);"></div>
				</div>	
				<h4>遠雄 國都國滙</h4>
				<p>新莊副都心建案，以氣派大圖來展現此建案的闊氣，和始用非常多的動態效果襯托此建案的朝氣。</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://www.behance.net/gallery/110996119/_" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/lily.jpg);"></div>
				</div>	
				<h4>遠雄 錸儷</h4>
				<p>以高雅的白底和淺金色帶出錸儷的典雅高端，點綴性的襯線體及優雅的線條，更突顯了此建案的品味淬煉。</p>
				<div class="control">全站頁面視覺設計</div>
			</a>
			<a href="http://demo.critical.tw/xmas_GODIVA/application/views/xmas.html" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/godiva_xmas.jpg);"></div>
				</div>	
				<h4>GODIVA 點亮！金色耶誕</h4>
				<p>godiva聖誕頁面運用了大量的流線和點點星光呼應限定禮盒的包裝設計，點綴的插圖設計帶出濃濃聖誕節氣氛感和godiva巧克力的品牌奢華！</p>
				<div class="control">活動頁視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="http://www.keacg.com/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/keacg.jpg);"></div>
				</div>	
				<h4>大岳設計 | 凱奕創意</h4>
				<p>以白底黑字為整個網頁設計的主體，襯托出大岳室內設計的每一個案子，並搭配背景流線型線條，增添整個網站的變化性。</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://www.keyvest-global.com/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/keyvest.jpg);"></div>
				</div>	
				<h4>Keyvest Gobal 丰睿國際</h4>
				<p>特別設計的首屏影片和大量的動畫效果，吸引使用者目標。</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			
			<a href="https://www.adulthealth.com.tw/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/zoster.jpg);"></div>
				</div>	
				<h4>流感、肺炎、皮蛇衛教網站</h4>
				<p>使用黑底帶出三大成人疾病的痛苦，然後以膚色強調重點地方，顏色清楚且易於閱讀！</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://stardreamclinic.com/index" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/star.jpg);"></div>
				</div>	
				<h4>星幸福美學診所</h4>
				<p></p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="http://www.tw.socionext.com/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/socionext.jpg);"></div>
				</div>	
				<h4>台灣索思未來科技</h4>
				<p>依照首頁的設計風格去延伸個內頁的版面設計，使用科技感的漸層藍來強調整個企業風格！</p>
				<div class="control">部分內頁與活動頁視覺設計、全站頁面切版</div>
			</a>
			<a href="https://choosezero.critical.tw/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/choosezero.jpg);"></div>
				</div>	
				<h4>選擇純淨 美的自然｜天使肉毒</h4>
				<p>以代言人的清新感設計出此活動網站所要的自然感，且運用了不同的藍色來增加整體層次。</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://www.getharder.com.tw/index" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/behard.jpg);"></div>
				</div>	
				<h4>Get Harder! 性福在此一舉</h4>
				<p>運用了大量的插圖來傳達健康衛教資訊，整體視覺呈現清新健康正面的態度去迎接男性害羞不敢面對的疾病。</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://chinghsuanlin.github.io/Myportfolio/ntcu_web/application/views/index.html" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/ntcu.jpg);"></div>
				</div>	
				<h4>新住民語言課程｜台中教育大學</h4>
				<p>打破學校傳統制式的印量，運用了鮮豔的色彩打造整個網站！</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://encephalitis.critical.tw/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/encephalitis.jpg);"></div>
				</div>	
				<h4>日本腦炎衛教網站</h4>
				<p>傳達戶外踏青容易遇到蚊子咬而引發的日本腦炎疾病，因此選用了綠色來呼應此活動網站。</p>
				<div class="control">活動頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://www.behance.net/gallery/112764919/aesthetic-medicine-Web-Design" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/bios.jpg);"></div>
				</div>	
				<h4>水無痕玻尿酸</h4>
				<p>使用了產品四個顏色為主色，色彩搶眼有力，每個區塊各有自己的主色，更襯托品牌和產品的重點。</p>
				<div class="control">活動頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://opusloft.tw/index" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/opusloft.jpg);"></div>
				</div>	
				<h4>純真年代</h4>
				<p>舊佔改版設計家具網站，以原始的架構下去延伸設計，更符合使用者使用習慣。</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="http://demo.critical.tw/lux-design/application/index.html" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/11art.jpg);"></div>
				</div>	
				<h4>十一藝空間設計有限公司</h4>
				<p>根據已定案的首頁風格下去設計每個內頁。</p>
				<div class="control">除首頁外的全部內頁視覺設計、全站頁面切版</div>
			</a>
			<a href="https://www.whiteswan.com.tw/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/swan.jpg);"></div>
				</div>	
				<h4>設計白天鵝 | 室內設計</h4>
				<p>用親民的黃色和白色為主體，每一屏的背景底色明顯區隔，不過多的插圖設計，凸顯網站內的室內設計案例。</p>
				<div class="control">全站頁面視覺設計、網頁切版、動畫撰寫</div>
			</a>
			<a href="https://chinghsuanlin.github.io/Myportfolio/swan_direct/application/views/direct_index.html" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/swan_event1.jpg);"></div>
				</div>	
				<h4>設計白天鵝｜總監操刀</h4>
				<p>白天鵝室內設計活動案之一，受眾為高端客戶。</p>
				<div class="control">活動頁面視覺設計、網頁切版</div>
			</a>
			<a href="https://chinghsuanlin.github.io/Myportfolio/swan_speedy/application/views/speedy_index.html" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/swan_event2.jpg);"></div>
				</div>	
				<h4>設計白天鵝｜設計立吞</h4>
				<p>天鵝室內設計活動案之一，受眾為小資客群。</p>
				<div class="control">活動頁面視覺設計、網頁切版</div>
			</a>
			<a href="https://www.behance.net/gallery/110982549/_" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/fddesign.jpg);"></div>
				</div>	
				<h4>峰典室內設計</h4>
				<p>原客戶舊站改版設計，以清新自然的風格設計首頁。</p>
				<div class="control">首頁視覺風格設計</div>
			</a>
			<a href="https://global.9splay.com/Home" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/9splay.jpg);"></div>
				</div>	
				<h4>9splay｜真好玩娛樂科技股份有限公司</h4>
				<p></p>
				<div class="control">全站頁面視覺設計</div>
			</a>
		</ul>
		<h3 class="c-title" id="gameWrap">Game Web Design</h3>
		<ul class="col-row c-card-wrap">
			<a href="pageGame1.html" class="col-4 c-card">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/game1.jpg);"></div>
				</div>	
				<h4>遊戲主站設計</h4>
				<div class="control">網站排版設計、網頁切版</div>
			</a>
			<a href="pageGame3.html"  class="col-4 c-card">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/game3.jpg);"></div>
				</div>	
				<h4>天府遊戲</h4>
				<div class="control">網站排版設計、手機版切版</div>
			</a>
			<a href="pageGame2.html" class="col-4 c-card">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/game2.jpg);"></div>
				</div>	
				<h4>遊戲主站設計</h4>
				<div class="control">網站排版設計、網頁切版</div>
			</a>
		</ul>
	</div>
</div>


<div class="c-wrap-w" id="AppWrap">
	<div class="c-wrap-normal">
		<h3 class="c-title">APP UI/UX</h3>
		<ul class="col-row c-card-wrap">
			<a href="pageAppMcd.html" class="col-4 c-card">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/mcd_app.jpg);"></div>
				</div>	
				<h4>麥當勞｜麥胞小尖兵App</h4>
				<p></p>
				<div class="control">部分UI設計、全站app切版</div>
			</a>
			<a href="pageAppMcdEvent.html" class="col-4 c-card">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/mcd_active.jpg);"></div>
				</div>	
				<h4>麥當勞｜麥胞小尖兵活動內頁</h4>
				<p></p>
				<div class="control">活動視覺設計、切版</div>
			</a>
			<a href="https://invis.io/3SY1JI05BW8#/424949315_----" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/oppo.jpg);"></div>
				</div>	
				<h4>OPPO Life</h4>
				<p></p>
				<div class="control">全站視覺UI/UX</div>
			</a>
		</ul>
	</div>
</div>

<div class="c-wrap-w">
	<div class="c-wrap-normal">
		<h3 class="c-title">PSD/Sketch to HTML</h3>
		<ul class="col-row c-card-wrap">
			<a href="https://www.godiva.com.tw/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/godiva.jpg);"></div>
				</div>	
				<h4>Godiva</h4>
			</a>
			<a href="https://www.lovemyself.org.tw/index" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/aids.jpg);"></div>
				</div>	
				<h4>為愛篩檢</h4>
			</a>
			<a href="https://diabetes7days.com.tw/index" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/diabetes7days.jpg);"></div>
				</div>	
				<h4>醣穩顧7日挑戰</h4>
			</a>
			<a href="https://merz.critical.tw/index" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/merz.jpg);"></div>
				</div>	
				<h4>Merz Aesthetics</h4>
			</a>
			<a href="http://funstage.jp/" class="col-4 c-card" target="_blank">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/gfa.jpg);"></div>
				</div>	
				<h4>社團法人台灣綠腳印協會</h4>
			</a>
		</ul>
	</div>
</div>


<div class="c-wrap-w" id="bannerWrap">
	<div class="c-wrap-normal">
		<h3 class="c-title">Banner Design</h3>
		<ul class="col-row c-card-wrap">
			<a href="pageBannerMcd.html" class="col-4 c-card">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/banner_mcd.jpg);"></div>
				</div>	
				<h4>麥當勞｜麥胞小尖兵App活動</h4>
			</a>
			<a href="pageBannerSoci.html" class="col-4 c-card">
				<div class="c-card-img">
					<div style="background-image: url(../../img/project/banner_soc.jpg);"></div>
				</div>	
				<h4>socionext｜台灣索思未來科技</h4>
			</a>
			
		</ul>
	</div>
</div>

</section>



<script>

	$(".navBtn").on("click", function (e) {
		// e.preventDefault();
		if($(this).parent().hasClass('open'))
        {
        	$(this).parent().removeClass('open');
        }
        else{
        	$(this).parent().addClass('open');
        }
	});
	
</script>














<!-- template footer -->



<footer>
	<div class="c-wrap-normal">
		<div class="l-footer-wrap">
			<a href="mailto:shiuan9217@gmail.com">
				<img src="../../img/icon_email_white.svg" alt="">
				<span>shiuan9217@gmail.com</span>
			</a>
			<a href="https://www.behance.net/shiuan921716e2/projects" target="_blank">
				<img src="../../img/icon_behance2.svg" alt="">
				<span>Behance</span>
			</a>
		</div>
	</div>
</footer>





</body>
</html>

