<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="title" content="Ching Hsuan’s Portfolio">
	<meta name="description" content="Ching Hsuan’s Portfolio">
	<meta name="Copyright" content="Copyright © 2021 ChingHsuan’s Portfolio">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>
	<title>Ching Hsuan’s Portfolio | 林靜萱 </title>
	
	<script src="../../js/jquery-3.4.0.js"></script>
	<link rel="shortcut icon" href="../../img/favicon.png">
	<link rel="stylesheet" href="../../css/main.css">
</head>
<body>


<!-- {template header} -->



<div class="c-wrap-w">
	<div class="c-page-wrap">
		<a href="index.html#bannerWrap" class="c-back">
			<img src="../../img/icon_arrow.svg" alt="" >
		</a>
		<div class="c-wrap-800">
			<img src="../../img/banner/mad_banner1.png" alt="" class="h-box100">
			<img src="../../img/banner/mad_banner2.png" alt="" class="h-box100">
			<img src="../../img/banner/mad_banner3.png" alt="" class="h-box100">
		</div>
	</div>
</div>



<!-- template footer -->



<footer>
	<div class="c-wrap-normal">
		<div class="l-footer-wrap">
			<a href="mailto:shiuan9217@gmail.com">
				<img src="../../img/icon_email_white.svg" alt="">
				<span>shiuan9217@gmail.com</span>
			</a>
			<a href="https://www.behance.net/shiuan921716e2/projects" target="_blank">
				<img src="../../img/icon_behance2.svg" alt="">
				<span>Behance</span>
			</a>
		</div>
	</div>
</footer>





</body>
</html>

