<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- html meta 屬性設定 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="title" content="天使肉毒">
	<meta name="description" content="天使肉毒，選擇純淨 美的自然">
	<meta name="Copyright" content="© 2019 天使肉毒">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>
	<title>天使肉毒 | 選擇純淨 美的自然</title>
	<!-- 網頁頁籤上的icon -->
	<link rel="shortcut icon" href="../../img/favicon.ico">
	<script type="text/javascript" src="../../js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../../js/jquery.nav.js"></script>
	<script type="text/javascript"src="../../js/swiper.min.js"></script>
	<script type="text/javascript" src="./../js/wow.js"></script>
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
	<link rel="stylesheet" href="../../css/sty.css">
</head>
<body>

<!-- {template header} -->



<div class="m-nav">
    <div class="o-grid__item">
        <button class="c-hamburger c-hamburger--htx">
            <span>toggle menu</span>
        </button>
    </div>
</div>

<div class="header-box">
    <a href="/application/views/index.html" class="logo" id="logo"><h1><img src="/img/logo.svg" alt=""></h1></a>
    <div class="nav">
        <ul>
            <li><a href="/application/views/index.html#page1" class="">選擇純淨 美的自然</a></li>
            <li><a href="/application/views/index.html#page2" class="">甚麼是天使肉毒？</a></li>
            <li><a href="/application/views/index.html#page3" class="">美的診療室</a></li>
            <li><a href="/application/views/index.html#page4" class="">肉毒桿菌素純不純，你該知道</a></li>
             <li><a href="/application/views/index.html#page5" class="">別讓複合性蛋白影響妳的美麗</a></li>
            <li><a href="/application/views/index.html#page6" class="">美的見證</a></li>
            <li><a href="/application/views/index.html#" class=""><img src="/img/icon_fb.png" alt=""></a></li>
        </ul>   
    </div>
</div>

<script>
//漢堡
$(window).load(function(){
    var toggles = document.querySelectorAll(".c-hamburger");
    for (var i = toggles.length - 1; i >= 0; i--) {
        var toggle = toggles[i];
        toggleHandler(toggle);
    };
    function toggleHandler(toggle) {
        toggle.addEventListener( "click", function(e) {
            e.preventDefault();
            if (this.classList.contains("is-active") === true) {
                this.classList.remove("is-active");
                // $(".side-nav-wrap").stop().animate({left:"-250px"},500);//點漢堡側邊欄左右滑動
                $(".nav").slideUp();
            }
            else {
                this.classList.add("is-active");
                // $(".side-nav-wrap").stop().animate({left:"0"},500);//點漢堡側邊欄左右滑動
                $(".nav").slideDown();
            }
        });
    }




});

//漢堡視窗resize
$(window).resize(function(){
    var w_Width = $(window).width();
    if( w_Width >= 780){
        $('.nav').removeAttr('style');
        $('.c-hamburger').removeClass('is-active');
    }
});



// 捲軸滾動，選單跟著動
$('.nav').onePageNav({

      currentClass: 'act',
      changeHash: false,
      scrollSpeed: 750,
      scrollThreshold: 0.1,
      filter: '',
      easing: 'swing',
      begin: function() {
      },
      end: function() {
      },
      scrollChange: function($currentListItem) {
      }
    });



</script>



<div class="map_wrap">
	<div class="googlemap" id="cont_map">
		<!-- 嵌入地圖 -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.195006600292!2d121.54725895079834!3d25.061378843268184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abefe3de9689%3A0x22a6a0dfb1740c3c!2z576O5LuV5aqe5pmC5bCa6Yar576O6Ki65omA!5e0!3m2!1szh-TW!2stw!4v1553683976082" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<!-- <img src="/img/icon_map.svg" alt="" class="icon_map">
		<img src="/img/icon_map_now.svg" alt="現在位置" class="icon_map_now"> -->
	</div>

	<div class="map_box" id="cont_list">

			<div class="search">
				<input type="text" placeholder="搜尋地址或診間名稱" class="search_input">
				<div class="btn_box">
					<button class="btn" type="">
						<span>搜尋</span>
						<img src="/img/btn.svg" alt="更多診療室">
					</button>
					<button class="btn positionBtn" type="">
						<span>以目前位置定位</span>
						<img src="/img/btn.svg" alt="更多診療室">
					</button>
				</div>
			</div>

		<ul class="map_ul">
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
		</ul>
	</div>
	
	<!-- 手機版的tab切換 -->
	<ul class="map_tab">
		<li id="btn_list" class="act"><p>診療室列表</p></li>
		<li id="btn_map"><p>地圖</p></li>
	</ul>

</div>

<script>

$(window).load(function(){

	//手機版時地圖切換
	$('#btn_map').on('click',function(){
		$('#btn_list').removeClass('act');
		$('#btn_map').addClass('act');
		$("#cont_map").stop().animate({right:"0px"},500);
	});

	$('#btn_list').on('click',function(){
		$('#btn_map').removeClass('act');
		$('#btn_list').addClass('act');
		$("#cont_map").stop().animate({right:"-780px"},500);
	});


	if($(window).width() < 780)
	  {
	    //點擊選單讓地圖出現 
	      $('.map_ul li , .positionBtn').on('click',function(){
	       	$("#cont_map").stop().animate({right:"0px"},500);
	       	$('#btn_list').removeClass('act');
			$('#btn_map').addClass('act');
	      });
	    
	  }



});

//視窗resize列表和地圖還是會出現
	$(window).resize(function(){
		var w_Width = $(window).width();
		if( w_Width >= 780){
			$('#cont_map').show().css("right", "0");
			$('#cont_list').show();
		}else{
			$('#cont_map').css("right", "-780px");
		}
	});

</script>
