<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- html meta 屬性設定 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="title" content="天使肉毒">
	<meta name="description" content="天使肉毒，選擇純淨 美的自然">
	<meta name="Copyright" content="© 2019 天使肉毒">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>
	<title>天使肉毒 | 選擇純淨 美的自然</title>
	<!-- 網頁頁籤上的icon -->
	<link rel="shortcut icon" href="../../img/favicon.ico">
	<script type="text/javascript" src="../../js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../../js/jquery.nav.js"></script>
	<script type="text/javascript"src="../../js/swiper.min.js"></script>
	<script type="text/javascript" src="./../js/wow.js"></script>
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
	<link rel="stylesheet" href="../../css/sty.css">
</head>
<body>

<!-- {template header} -->

<div class="qrcode">
	<img src="/img/logo.svg" alt="天使肉毒">
	
	<form action="">
		<div class="qr_cont">
			<p>來源</p>
			<h3>網紅小甜甜</h3>
			<input type="text" placeholder="請輸入診間代碼" class="code error">
			<label for="" class="error js-failed" style="display:
			;">輸入錯誤</label>
			<div class="btn_box">
				<button class="btn" type="button">
					<span>確定</span>
					<img src="/img/btn.svg" alt="更多診療室">
				</button>
			</div>
		</div>
	</form>

	<!-- 序號失效 -->
	<div class="none" style="display: none">此序號已失效</div>
</div>


<!-- template footer -->
<footer>
	copyright@天使肉毒
</footer>
</body>
</html>
