<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="title" content="新住民語文課程前導學校協作計畫">
	
	<meta name="description" content="新住民語文課程前導學校協作計畫">
	<meta name="Copyright" content="© 2020國立台中教育大學">

	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>

	<title>新住民語文課程前導學校協作計畫</title>
	
	<!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->

	<script type="text/javascript" src="../../js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../../js/jquery.nav.js"></script>
	<script src="../../js/swiper.min.js"></script>

    
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/font.css">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/unreset.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">

</head>
<body>

<!-- {template header} -->



<div class="l-menu_mobile">
  <div class="o-grid__item">
    <button class="c-hamburger c-hamburger--htx">
      <span>toggle menu</span>
    </button>
  </div>
</div>

<div class="l-menu">
    <div class="l-menubar">
      <!--  登入前的狀態 -->
   <!--  <a href="login.html">登入</a>
    /
    <a href="sign_up.html">註冊</a> -->

    <!--  登入後的狀態 -->
      <a href="member.html">
        <span class="icon-user"></span>
        Hi,<span>Critical321</span>您好，會員中心</a>
      /
      <a href="#" class="h-opLight">登出</a>

    </div>
    <div class="l-menu_box">
        <a href="index.html" class="l-logo" id="logo">
          <h1><img src="../../img/logo.gif" alt="新住民語文課程前導學校協作計畫"></h1>
        </a>
        <div class="l-menu_item">
          <ul>
            <!-- 當頁加上act -->
            <li><a href="index.html" class="act">首頁</a></li>
            <li><a href="news.html" class="">最新消息</a></li>
            <li><a href="class.html" class="">研習課程</a></li>
            <li><a href="event.html" class="">活動紀錄</a></li>
            <li><a href="file.html" class="">語文教材</a></li>
            <li><a href="" class="">悅趣式評估系統</a></li>
            <li><a href="survey.html" class="">問卷</a></li>
            <li><a href="public.html" class="">公開資料下載</a></li>
            <li><a href="" class="">教學電子報</a></li>
          </ul>
        </div>
    </div>  
    
</div>

  <script>
//漢堡
$(window).load(function(){
  var toggles = document.querySelectorAll(".c-hamburger");
  for (var i = toggles.length - 1; i >= 0; i--) {
    var toggle = toggles[i];
    toggleHandler(toggle);
  };
  function toggleHandler(toggle) {
    toggle.addEventListener( "click", function(e) {
      e.preventDefault();
      if (this.classList.contains("is-active") === true) {
        this.classList.remove("is-active");
                // $(".side-nav-wrap").stop().animate({left:"-250px"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideUp();
                $('body').removeClass("h-noscroll");
              }
              else {
                this.classList.add("is-active");
                // $(".side-nav-wrap").stop().animate({left:"0"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideDown();
                $('body').addClass("h-noscroll");
              }
            });
  }


  if($(window).width() < 1024)
  {
    //點擊a選單消失 
    $('.l-menu_item a').on('click',function(){
      $(".l-menu_item").hide();
      $(".c-hamburger").removeClass("is-active");
    });
    
  } else {

    $('.l-menu_item a').on('click',function(){
      $(".hl-menu_item").show();
    });
  }

  
  $('#logo').on('click',function(){
    $('html,body').animate({ scrollTop: 0},'slow');
  });



});

//漢堡視窗resize
$(window).resize(function(){
  var w_Width = $(window).width();
  if( w_Width < 1024){
      //點擊a選單消失 
      $('.l-menu_item a').on('click',function(){
        $(".l-menu_item").hide();
        $(".c-hamburger").removeClass("is-active");
      });

    }
    else{
     $('.l-menu_item a').on('click',function(){
      $(".l-menu_item").show();
    });

   }
   if( w_Width >= 1024){
    $('.l-menu_item').removeAttr('style');
    $('.c-hamburger').removeClass('is-active');
  }
});






</script>



<div class="c-wrap-w deco-green-circle h-hidden">
	<div class="c-wrap1220">
		<ul class="c-breadcrumb">
			<li>
				<a href="index.html">首頁</a>
			</li>
			<li>
				研習課程
			</li>
		</ul>

		<div class="c-title c-title-long">
			<h2>STUDY COURSE</h2>
			<img src="../../img/tit_deco.svg" alt="">
			<p>研習課程</p>
		</div>

		<div class="c-wrap-w wrap-class">
			<ul class="l-card-wrap l-card-wrapBigger">
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/sample/photo1.jpg);"></div>
						</div>
						<h2>北一區第二梯次前導學校期末經驗分享座談會</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8第一梯次自107年8第一梯次自107年8為配合新課綱施行，為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8第一梯次自107年8第一梯次自107年8為配合新課綱施行，為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8第一梯次自107年8第一梯次自107年8為配合新課綱施行!</p>
					</a>
				</li>
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/sample/photo2.jpg);"></div>
						</div>
						<h2>北一區第二梯次前導學校期末經驗分享座談會123</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出</p>
					</a>
				</li>
			</ul>
			<ul class="l-card-wrap">
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/course_default.svg);"></div>
						</div>
						<h2>北一區第二梯次前導學校期末經驗分享座談會</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8第一梯次自107年8第一梯次自107年8為配合新課綱施行，</p>
					</a>
				</li>
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/sample/photo2.jpg);"></div>
						</div>
						<h2>北一區第二梯次前導學校期末經驗分享座談會123</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8</p>
					</a>
				</li>
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/sample/photo3.jpg);"></div>
						</div>
						<h2>學校期末經驗分享座談會</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫!!</p>
					</a>
				</li>
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/sample/photo4.jpg);"></div>
						</div>
						<h2>北一區第二梯次前導學校期末經驗分享座談會</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8</p>
					</a>
				</li>
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/sample/photo1.jpg);"></div>
						</div>
						<h2>北一區第二梯次前導學校期末經驗分享座談會</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8第一梯次自107年8第一梯次自107年8為配合新課綱施行，</p>
					</a>
				</li>
				<li class="l-card-item">
					<a href="class_cont.html">
						<div class="l-card-imgWrap">
							<div class="l-card-img" style="background-image: url(../../img/sample/photo2.jpg);"></div>
						</div>
						<h2>北一區第二梯次前導學校期末經驗分享座談會123</h2>
						<h3>開課日期：2020/03/20</h3>
						<p>為配合新課綱施行，國教署指出，107學年度將推動新住民語文課程前導計畫，分2梯次推動，前導學校遴選原則為邀請參與、指定參與及推薦參與，第一梯次自107年8</p>
					</a>
				</li>
				
			</ul>
			<div class="c-pagination">
				<!--當前頁面請加上act-->
				<a href="#" class="c-page_arrow">
					<span class="icon-left"></span>
				</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#" >3</a>
				<a href="#" class="act">4</a>
				<a href="#">5</a>
				<span>...</span>
				<a href="#">10</a>
				<a href="#" class="c-page_arrow">
					<span class="icon-right"></span>
				</a>
			</div>
		</div>





		

		
	</div>
</div>






<script>
	

</script>


<!-- template footer -->
<footer>
	<div class="c-wrap1220">
		<div class="l-footerbox">
			<img src="../../img/footer_logo.svg" alt="">
			<div>
				<ul>
					<li class="footer_img">
						<img src="../../img/footer_deco.svg" alt="">
						<h3>專案助理</h3>
					</li>
					<li>曾耀德 先生</li>
					<li>信箱：toku6707@mail.ntcu.edu.tw</li>
					<li>電話：04-22183149</li>
				</ul>
				<ul>
					<li class="footer_img">
						<img src="../../img/footer_deco.svg" alt="">
						<h3>專案助理</h3>
					</li>
					<li>陳儀珊 小姐</li>
					<li>信箱：chenyishan@mail.ntcu.edu.tw</li>
					<li>電話：04-22181052</li>
				</ul>
				<ul>
					<li>國立臺中教育大學</li>
					<li>地址：40306台中市西區民生路140號</li>
				</ul>
			</div>
		</div>
		<div class="l-copyright">
			<p>Copyright © 2020國立臺中教育大學 All Rights Reserved.</p>
			<a href="survey.html" class="c-btn">線上問卷</a>
		</div>
		<div class="l-gotop" id="top">
			<span class="icon-arrow"></span>
		</div>
	</div>
</footer>
</body>

 <script>
 	$('#top').on('click',function(){
			$('html,body').animate({ scrollTop: 0},'slow');
		});
 </script>

</html>

