<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- html meta 屬性設定 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- 將使用ie瀏覽器的版本設定在預設，或是可以指定版本 ex:content="IE=8" -->

	<meta name="title" content="水無痕玻尿酸">
	<!-- <meta name="author" content="作者"> 如果不是新聞或blog類型的網站，基本上是不需要設定 -->
	<!-- <meta name="keyword" content="關鍵字,關鍵字"> 不建議設定了，瀏覽器不會抓這裡，也不影響SEO -->
	<meta name="description" content="水無痕玻尿酸">
	<meta name="Copyright" content="© 2020 水無痕玻尿酸">

    <!-- 設定給手機device用 -->
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>
	

	<!-- Facebook og: 屬性設定 -->
	<!-- <meta property="og:title" content="如果是文章就是文章的標題" />
	<meta property="og:site_name" content="網站的名稱" />
	<meta property="og:url" content="自定義分享連結的網址" />
	<meta property="og:description" content="文章描述通常2~4句子" />
	<meta property="og:image" content="呈現的圖片至少要1200x630"/>
	<meta property="og:type" content="website" /> -->
	<!-- https://developers.facebook.com/tools/debug (Facebook測試的og屬性的地方) -->

	<title>水無痕玻尿酸</title>
	<!-- 網頁頁籤上的icon -->
	<link rel="shortcut icon" href="/img/favicon.ico">

	<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="/js/jquery.flip.js"></script>
	<script type="text/javascript" src="/js/jquery.nav.js"></script>
	<script src="/js/swiper.min.js"></script>
	<script src="/js/wow.js"></script>

    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/main.css">

	<!--[if IE]>
		<link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!-- 讓ie9以下看懂htm5標簽 -->
	<!--[if lte IE 8]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<!-- {template header} -->



<div class="l-menu_mobile">
    <div class="o-grid__item">
        <button class="c-hamburger c-hamburger--htx">
            <span>toggle menu</span>
        </button>
    </div>
</div>

<div class="l-menu">
    <a href="index.html" class="l-logo" id="logo">
      <h1><img src="/img/logo.svg" alt="水無痕玻尿酸"></h1>
    </a>
    <div class="l-menu_item">
        <ul>
            <li><a href="#page1" class="l-purple">產品介紹</a></li>
            <li><a href="#page2" class="l-orange">CPM專利技術</a></li>
            <li><a href="#page3" class="l-pink">四大優勢</a></li>
            <li><a href="#page4" class="l-yellow">劑型介紹</a></li>
            <li><a href="#page5" class="l-purple">常見問題</a></li>
            <li><a href="#page6" class="l-orange">部落客分享</a></li>
        </ul>
         <a href="map.html" class="l-menu_link">立即洽詢</a>
    </div>
</div>

<script>
//漢堡
$(window).load(function(){
    var toggles = document.querySelectorAll(".c-hamburger");
    for (var i = toggles.length - 1; i >= 0; i--) {
        var toggle = toggles[i];
        toggleHandler(toggle);
    };
    function toggleHandler(toggle) {
        toggle.addEventListener( "click", function(e) {
            e.preventDefault();
            if (this.classList.contains("is-active") === true) {
                this.classList.remove("is-active");
                // $(".side-nav-wrap").stop().animate({left:"-250px"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideUp();
            }
            else {
                this.classList.add("is-active");
                // $(".side-nav-wrap").stop().animate({left:"0"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideDown();

            }
        });
    }


  if($(window).width() < 1024)
  {
    //點擊a選單消失 
      $('.l-menu_item a').on('click',function(){
        $(".l-menu_item").hide();
        $(".c-hamburger").removeClass("is-active");
      });
    
  } else {

    $('.l-menu_item a').on('click',function(){
          $(".hl-menu_item").show();
        });
  }

  
  $('#logo').on('click',function(){
      $('html,body').animate({ scrollTop: 0},'slow');
    });



});

//漢堡視窗resize
$(window).resize(function(){
    var w_Width = $(window).width();
    if( w_Width < 1024){
      //點擊a選單消失 
      $('.l-menu_item a').on('click',function(){
        $(".l-menu_item").hide();
        $(".c-hamburger").removeClass("is-active");
      });

    }
    else{
       $('.l-menu_item a').on('click',function(){
          $(".l-menu_item").show();
        });

    }
    if( w_Width >= 1024){
        $('.l-menu_item').removeAttr('style');
        $('.c-hamburger').removeClass('is-active');
    }
});



  // 捲軸滾動，選單跟著動
  $('.l-menu_item ul').onePageNav({
      currentClass: 'header-list--activ',
      changeHash: false,
      scrollSpeed: 750,
      scrollThreshold: 0.1,
      filter: '',
      easing: 'swing',
      begin: function() {
      },
      end: function() {
      },
      scrollChange: function($currentListItem) {
      }
    });



</script>



<div class="map_wrap">
	<div class="googlemap" id="cont_map">
		<!-- 嵌入地圖 -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.195006600292!2d121.54725895079834!3d25.061378843268184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abefe3de9689%3A0x22a6a0dfb1740c3c!2z576O5LuV5aqe5pmC5bCa6Yar576O6Ki65omA!5e0!3m2!1szh-TW!2stw!4v1553683976082" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<!-- <img src="/img/icon_map.svg" alt="位置" class="icon_map">
		<img src="/img/icon_map_now.svg" alt="現在位置" class="icon_map_now"> -->
	</div>

	<div class="map_box" id="cont_list">

			<div class="search">
				<input type="text" placeholder="搜尋地址或診間名稱" class="search_input">
				<div class="btn_box">
					<button class="c-btn c-btn_blue" type="">
						<span>搜尋</span>
					</button>
					<button class="c-btn c-btn_blue positionBtn " type="">
						<span>以目前位置定位</span>
					</button>
				</div>
			</div>

		<ul class="map_ul">
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<a href="tel:021234567">02-1234567</a>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
			<li>
				<h3>美仕媞時尚醫美診所</h3>
				<h4>距離1.6公里</h4>
				<div class="add">
					<img src="/img/icon_address.svg" alt="">
					<p>台北市大安區忠孝東路四段177號4樓台北市大安區忠孝東路</p>
				</div>
				<div class="phone">
					<img src="/img/icon_phone.svg" alt="">
					<p>02-1234567</p>
				</div>
				<div class="note">
					備註文字備註文字備註文字備註文字備註文字備註文字備註文字
				</div>
			</li>
		</ul>
	</div>
	
	<!-- 手機版的tab切換 -->
	<ul class="map_tab">
		<li id="btn_list" class="act"><p>診療室列表</p></li>
		<li id="btn_map"><p>地圖</p></li>
	</ul>

</div>

<script>

$(window).load(function(){

	//手機版時地圖切換
	$('#btn_map').on('click',function(){
		$('#btn_list').removeClass('act');
		$('#btn_map').addClass('act');
		$("#cont_map").stop().animate({right:"0px"},500);
	});

	$('#btn_list').on('click',function(){
		$('#btn_map').removeClass('act');
		$('#btn_list').addClass('act');
		$("#cont_map").stop().animate({right:"-780px"},500);
	});


	if($(window).width() < 780)
	  {
	    //點擊選單讓地圖出現 
	      $('.map_ul li , .positionBtn').on('click',function(){
	       	$("#cont_map").stop().animate({right:"0px"},500);
	       	$('#btn_list').removeClass('act');
			$('#btn_map').addClass('act');
	      });
	    
	  }



});

//視窗resize列表和地圖還是會出現
	$(window).resize(function(){
		var w_Width = $(window).width();
		if( w_Width >= 780){
			$('#cont_map').show().css("right", "0");
			$('#cont_list').show();
		}else{
			$('#cont_map').css("right", "-780px");
		}
	});

</script>
