<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- html meta 屬性設定 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="title" content="新住民語文課程前導學校協作計畫">
	
	<meta name="description" content="新住民語文課程前導學校協作計畫">
	<meta name="Copyright" content="© 2020國立台中教育大學">

	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>

	<title>新住民語文課程前導學校協作計畫</title>
	<!-- 網頁頁籤上的icon -->
	<!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->

	<script type="text/javascript" src="../../js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../../js/jquery.nav.js"></script>
	<script src="../../js/swiper.min.js"></script>

    
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/font.css">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/unreset.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">

</head>
<body>

<!-- {template header} -->



<div class="l-menu_mobile">
  <div class="o-grid__item">
    <button class="c-hamburger c-hamburger--htx">
      <span>toggle menu</span>
    </button>
  </div>
</div>

<div class="l-menu">
    <div class="l-menubar">
      <!--  登入前的狀態 -->
   <!--  <a href="login.html">登入</a>
    /
    <a href="sign_up.html">註冊</a> -->

    <!--  登入後的狀態 -->
      <a href="member.html">
        <span class="icon-user"></span>
        Hi,<span>Critical321</span>您好，會員中心</a>
      /
      <a href="#" class="h-opLight">登出</a>

    </div>
    <div class="l-menu_box">
        <a href="index.html" class="l-logo" id="logo">
          <h1><img src="/img/logo.gif" alt="新住民語文課程前導學校協作計畫"></h1>
        </a>
        <div class="l-menu_item">
          <ul>
            <!-- 當頁加上act -->
            <li><a href="index.html" class="act">首頁</a></li>
            <li><a href="news.html" class="">最新消息</a></li>
            <li><a href="class.html" class="">研習課程</a></li>
            <li><a href="event.html" class="">活動紀錄</a></li>
            <li><a href="file.html" class="">語文教材</a></li>
            <li><a href="" class="">悅趣式評估系統</a></li>
            <li><a href="survey.html" class="">問卷</a></li>
            <li><a href="public.html" class="">公開資料下載</a></li>
            <li><a href="" class="">教學電子報</a></li>
          </ul>
        </div>
    </div>  
    
</div>

  <script>
//漢堡
$(window).load(function(){
  var toggles = document.querySelectorAll(".c-hamburger");
  for (var i = toggles.length - 1; i >= 0; i--) {
    var toggle = toggles[i];
    toggleHandler(toggle);
  };
  function toggleHandler(toggle) {
    toggle.addEventListener( "click", function(e) {
      e.preventDefault();
      if (this.classList.contains("is-active") === true) {
        this.classList.remove("is-active");
                // $(".side-nav-wrap").stop().animate({left:"-250px"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideUp();
                $('body').removeClass("h-noscroll");
              }
              else {
                this.classList.add("is-active");
                // $(".side-nav-wrap").stop().animate({left:"0"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideDown();
                $('body').addClass("h-noscroll");
              }
            });
  }


  if($(window).width() < 1024)
  {
    //點擊a選單消失 
    $('.l-menu_item a').on('click',function(){
      $(".l-menu_item").hide();
      $(".c-hamburger").removeClass("is-active");
    });
    
  } else {

    $('.l-menu_item a').on('click',function(){
      $(".hl-menu_item").show();
    });
  }

  
  $('#logo').on('click',function(){
    $('html,body').animate({ scrollTop: 0},'slow');
  });



});

//漢堡視窗resize
$(window).resize(function(){
  var w_Width = $(window).width();
  if( w_Width < 1024){
      //點擊a選單消失 
      $('.l-menu_item a').on('click',function(){
        $(".l-menu_item").hide();
        $(".c-hamburger").removeClass("is-active");
      });

    }
    else{
     $('.l-menu_item a').on('click',function(){
      $(".l-menu_item").show();
    });

   }
   if( w_Width >= 1024){
    $('.l-menu_item').removeAttr('style');
    $('.c-hamburger').removeClass('is-active');
  }
});






</script>



<div class="c-wrap-w deco-yellow-circle h-hidden">
	<div class="c-wrap1020">
		<ul class="c-breadcrumb">
			<li>
				<a href="index.html">首頁</a>
			</li>
			<li>
				<a href="member.html">會員中心</a>
			</li>
			<li>
				教學歷程管理
			</li>
		</ul>

		<div class="c-title">
			<h2>MEMBER</h2>
			<img src="../../img/tit_deco.svg" alt="">
			<p>會員中心</p>
		</div>

		<div class="c-tab-main">
			<a href="member.html">基本資料</a>
			<a href="member_stuList.html" class="act">教學歷程管理</a>
			<a href="member_upload.html">語文教材上傳</a>
		</div>
		
		<div class="searchBox_wrap">
			<div class="searchBox">
				<select name="" id="" class="c-select">
					<option value="">請選擇學校</option>
					<option value="">學校12345</option>
				</select>
				<select name="" id=""  class="c-select">
					<option value="">請選擇學校類型</option>
					<option value="">國小</option>
					<option value="">國中</option>
				</select>
				<select name="" id="" class="c-select">
					<option value="">請選擇班級</option>
					<option value="">班級1</option>
					<option value="">班級2</option>
				</select>
				<div class="c-formShort-a">
					<input type="text"  class="" placeholder="學生姓名">
				</div>
			</div>
			<div class="c-btn-form">
				<input type="button" value="搜尋" class="c-btn">
			</div>
		</div>

		<div class="l-tableWrap">
			<div class="l-table-tit">
				<div class="h-box85">
					<div class="h-box30">學生姓名</div>
					<div class="h-box40">學校</div>
					<div class="h-box15">學校類型</div>
				</div>
				<div class="h-box10">
					<div>編輯</div>
				</div>
			</div>
			<div class="l-table-cont">
				<div class="h-box85">
					<div class="h-box30">林同學</div>
					<div class="h-box40">台北市大同國小</div>
					<div class="h-box15">國小</div>
				</div>
				<a href="member_stuInfo.html"class="h-box10 h-center">
					<span class="icon-edit"></span>
				</a>
			</div>
			<div class="l-table-cont">
				<div class="h-box85">
					<div class="h-box30">林同學</div>
					<div class="h-box40">台北市大同國小</div>
					<div class="h-box15">國小</div>
				</div>
				<a href="member_stuInfo.html"class="h-box10 h-center">
					<span class="icon-edit"></span>
				</a>
				
			</div>
			<p class="h-fz9 h-gray h-mt15">共6筆資料</p>
		</div>
		
		<div class="c-pagination">
			<!--當前頁面請加上act-->
			<a href="#" class="c-page_arrow">
				<span class="icon-left"></span>
			</a>
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#" >3</a>
			<a href="#" class="act">4</a>
			<a href="#">5</a>
			<span>...</span>
			<a href="#">10</a>
			<a href="#" class="c-page_arrow">
				<span class="icon-right"></span>
			</a>
		</div>
		
	</div>
</div>




<div class="h-mask" style="display: none;"></div>
<div class="c-loading" style="display: none;">
	<img src="../../img/backend_img/fancybox_loading.gif" alt="loading">
</div>
<div class="c-lightbox-wrap" style="display: none;">
	<div class="c-lightbox-wrapTxt">
		<p>編輯成功</p>
		<div class="c-btn">確定</div>
	</div>
</div>

<script>
	

</script>


<!-- template footer -->
<footer>
	<div class="c-wrap1220">
		<div class="l-footerbox">
			<img src="/img/footer_logo.svg" alt="">
			<div>
				<ul>
					<li class="footer_img">
						<img src="/img/footer_deco.svg" alt="">
						<h3>專案助理</h3>
					</li>
					<li>曾耀德 先生</li>
					<li>信箱：toku6707@mail.ntcu.edu.tw</li>
					<li>電話：04-22183149</li>
				</ul>
				<ul>
					<li class="footer_img">
						<img src="/img/footer_deco.svg" alt="">
						<h3>專案助理</h3>
					</li>
					<li>陳儀珊 小姐</li>
					<li>信箱：chenyishan@mail.ntcu.edu.tw</li>
					<li>電話：04-22181052</li>
				</ul>
				<ul>
					<li>國立臺中教育大學</li>
					<li>地址：40306台中市西區民生路140號</li>
				</ul>
			</div>
		</div>
		<div class="l-copyright">
			<p>Copyright © 2020國立臺中教育大學 All Rights Reserved.</p>
			<a href="survey.html" class="c-btn">線上問卷</a>
		</div>
		<div class="l-gotop" id="top">
			<span class="icon-arrow"></span>
		</div>
	</div>
</footer>
</body>

 <script>
 	$('#top').on('click',function(){
			$('html,body').animate({ scrollTop: 0},'slow');
		});
 </script>

</html>

