<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="title" content="新住民語文課程前導學校協作計畫">
	
	<meta name="description" content="新住民語文課程前導學校協作計畫">
	<meta name="Copyright" content="© 2020國立台中教育大學">

	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>

	<title>新住民語文課程前導學校協作計畫</title>
	
	<!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->

	<script type="text/javascript" src="../../js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../../js/jquery.nav.js"></script>
	<script src="../../js/swiper.min.js"></script>

    
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/font.css">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/unreset.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">

</head>
<body>

<!-- {template header} -->



<div class="l-menu_mobile">
  <div class="o-grid__item">
    <button class="c-hamburger c-hamburger--htx">
      <span>toggle menu</span>
    </button>
  </div>
</div>

<div class="l-menu">
    <div class="l-menubar">
      <!--  登入前的狀態 -->
   <!--  <a href="login.html">登入</a>
    /
    <a href="sign_up.html">註冊</a> -->

    <!--  登入後的狀態 -->
      <a href="member.html">
        <span class="icon-user"></span>
        Hi,<span>Critical321</span>您好，會員中心</a>
      /
      <a href="#" class="h-opLight">登出</a>

    </div>
    <div class="l-menu_box">
        <a href="index.html" class="l-logo" id="logo">
          <h1><img src="../../img/logo.gif" alt="新住民語文課程前導學校協作計畫"></h1>
        </a>
        <div class="l-menu_item">
          <ul>
            <!-- 當頁加上act -->
            <li><a href="index.html" class="act">首頁</a></li>
            <li><a href="news.html" class="">最新消息</a></li>
            <li><a href="class.html" class="">研習課程</a></li>
            <li><a href="event.html" class="">活動紀錄</a></li>
            <li><a href="file.html" class="">語文教材</a></li>
            <li><a href="" class="">悅趣式評估系統</a></li>
            <li><a href="survey.html" class="">問卷</a></li>
            <li><a href="public.html" class="">公開資料下載</a></li>
            <li><a href="" class="">教學電子報</a></li>
          </ul>
        </div>
    </div>  
    
</div>

  <script>
//漢堡
$(window).load(function(){
  var toggles = document.querySelectorAll(".c-hamburger");
  for (var i = toggles.length - 1; i >= 0; i--) {
    var toggle = toggles[i];
    toggleHandler(toggle);
  };
  function toggleHandler(toggle) {
    toggle.addEventListener( "click", function(e) {
      e.preventDefault();
      if (this.classList.contains("is-active") === true) {
        this.classList.remove("is-active");
                // $(".side-nav-wrap").stop().animate({left:"-250px"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideUp();
                $('body').removeClass("h-noscroll");
              }
              else {
                this.classList.add("is-active");
                // $(".side-nav-wrap").stop().animate({left:"0"},500);//點漢堡側邊欄左右滑動
                $(".l-menu_item").slideDown();
                $('body').addClass("h-noscroll");
              }
            });
  }


  if($(window).width() < 1024)
  {
    //點擊a選單消失 
    $('.l-menu_item a').on('click',function(){
      $(".l-menu_item").hide();
      $(".c-hamburger").removeClass("is-active");
    });
    
  } else {

    $('.l-menu_item a').on('click',function(){
      $(".hl-menu_item").show();
    });
  }

  
  $('#logo').on('click',function(){
    $('html,body').animate({ scrollTop: 0},'slow');
  });



});

//漢堡視窗resize
$(window).resize(function(){
  var w_Width = $(window).width();
  if( w_Width < 1024){
      //點擊a選單消失 
      $('.l-menu_item a').on('click',function(){
        $(".l-menu_item").hide();
        $(".c-hamburger").removeClass("is-active");
      });

    }
    else{
     $('.l-menu_item a').on('click',function(){
      $(".l-menu_item").show();
    });

   }
   if( w_Width >= 1024){
    $('.l-menu_item').removeAttr('style');
    $('.c-hamburger').removeClass('is-active');
  }
});






</script>



<div class="c-wrap-w deco-yellow-circle h-hidden">
	<div class="c-wrap1020">
		<ul class="c-breadcrumb">
			<li>
				<a href="index.html">首頁</a>
			</li>
			<li>
				<a href="member.html">會員中心</a>
			</li>
			<li>
				教學歷程管理
			</li>
		</ul>

		<div class="c-title">
			<h2>MEMBER</h2>
			<img src="../../img/tit_deco.svg" alt="">
			<p>會員中心</p>
		</div>

		<div class="c-tab-main">
			<a href="member.html">基本資料</a>
			<a href="member_stuList.html" class="act">教學歷程管理</a>
			<a href="member_upload.html">語文教材上傳</a>
		</div>

		<div class="c-tab">
			<a href="member_stuInfo.html">基本資料</a>
			<a href="member_stuInfo2.html">家長資料</a>
			<a href="member_stuInfo3.html" class="act">教學狀況</a>
			<a href="member_stuInfo4.html">悅趣式結果</a>
		</div>
		
		<ul class="c-formShort c-formlong">
			<li>
				<label for="" class="c-formShort-q">教學支援人員姓名</label>
				<div class="c-formShort-a">
					<p>Alice789</p>
				</div>
			</li>
			<li>
				<label for="" class="c-formShort-q">教學指導教師</label>
				<div class="c-formShort-a">
					<p>林老師</p>
				</div>
			</li>
			<li>
				<label for="" class="c-formShort-q">當學期選習新住民語之語別</label>
				<div class="c-formShort-a">
					<p>越南語</p>
				</div>
			</li>
			<li>
				<label for="" class="c-formShort-q">在家中使用新住民語之情形</label>
				<div class="c-formShort-a">
					<div class="more_radiobox">
						<p>聽</p>
						<div class="c-radiobox">
							<div class="c-radiobox-item">
								<input type="radio" id="q1-1" for="" title="至少選擇一個" name="q1" value="1">
								<label for="q1-1">經常</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q1-2" for="" title="至少選擇一個" name="q1" value="2">
								<label for="q1-2">偶爾</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q1-3" for="" title="至少選擇一個" name="q1" value="3">
								<label for="q1-3">無</label>
							</div>
						</div>
					</div>
					<div class="more_radiobox">
						<p>說</p>
						<div class="c-radiobox">
							<div class="c-radiobox-item">
								<input type="radio" id="q2-1" for="" title="至少選擇一個" name="q2" value="1">
								<label for="q2-1">經常</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q2-2" for="" title="至少選擇一個" name="q2" value="2">
								<label for="q2-2">偶爾</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q2-3" for="" title="至少選擇一個" name="q2" value="3">
								<label for="q2-3">無</label>
							</div>
						</div>
					</div>
					<div class="more_radiobox">
						<p>讀</p>
						<div class="c-radiobox">
							<div class="c-radiobox-item">
								<input type="radio" id="q3-1" for="" title="至少選擇一個" name="q3" value="1">
								<label for="q3-1">經常</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q3-2" for="" title="至少選擇一個" name="q1" value="2">
								<label for="q3-2">偶爾</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q3-3" for="" title="至少選擇一個" name="q3" value="3">
								<label for="q3-3">無</label>
							</div>
						</div>
					</div>
					<div class="more_radiobox">
						<p>寫</p>
						<div class="c-radiobox">
							<div class="c-radiobox-item">
								<input type="radio" id="q4-1" for="" title="至少選擇一個" name="q4" value="1">
								<label for="q4-1">經常</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q4-2" for="" title="至少選擇一個" name="q4" value="2">
								<label for="q4-2">偶爾</label>
							</div>
							<div class="c-radiobox-item">
								<input type="radio" id="q4-3" for="" title="至少選擇一個" name="q4" value="3">
								<label for="q4-3">無</label>
							</div>
						</div>
					</div>
					
				</div>
			</li>
			<li>
				<label for="" class="c-formShort-q">教材使用進度</label>
				<div class="c-formShort-a more_checkbox_wrap">
					<div>
						<select class="c-select" name="" id="">
							<option value="">請選擇冊別(一~十八)</option>
							<option value="">第一冊</option>
							<option value="">第二冊</option>
							<option value="">第三冊</option>
						</select>
						<div class="more_checkbox">
							<label for="a1-1" class="c-checkbox">
								<input type="checkbox" name="a1" id="a1-1" value="" class=""> 
								<div class="c-checkbox-box"></div>
								<span>第一冊 1-1 我的名字</span>
							</label>
							<label for="a1-2" class="c-checkbox">
								<input type="checkbox" name="a1" id="a1-2" value="" class=""> 
								<div class="c-checkbox-box"></div>
								<span>第一冊 1-2 我的家庭</span>
							</label>
							<label for="a1-3" class="c-checkbox">
								<input type="checkbox" name="a1" id="a1-3" value="" class=""> 
								<div class="c-checkbox-box"></div>
								<span>第一冊 1-1 我的名字</span>
							</label>
							<label for="a1-4" class="c-checkbox">
								<input type="checkbox" name="a1" id="a1-4" value="" class=""> 
								<div class="c-checkbox-box"></div>
								<span>第一冊 1-2 我的家庭</span>
							</label>
						</div>
					</div>
					<div class="stu_choose">
						<p>已選擇教材進度<img src="../../img/arrow.svg" alt="" class="choose-btn"></p>
						<div class="more_checkbox choose_cont">
							<label for="a1-1" class="c-checkbox">
								<span>第一冊 1-1 我的名字</span>
								<div>
									<img src="../../img/deleat.svg" alt="">
								</div>
							</label>
							<label for="a2-1" class="c-checkbox">
								<span>第一冊 1-1 我的名字</span>
								<div>
									<img src="../../img/deleat.svg" alt="">
								</div>
							</label>
							<label for="a3-1" class="c-checkbox">
								<span>第一冊 1-2 我的名字</span>
								<div>
									<img src="../../img/deleat.svg" alt="">
								</div>
							</label>
							<label for="a4-1" class="c-checkbox">
								<span>第一冊 1-4 我的名字</span>
								<div>
									<img src="../../img/deleat.svg" alt="">
								</div>
							</label>
							<label for="a3-1" class="c-checkbox">
								<span>第一冊 1-2 我的名字</span>
								<div>
									<img src="../../img/deleat.svg" alt="">
								</div>
							</label>
							<label for="a4-1" class="c-checkbox">
								<span>第一冊 1-4 我的名字</span>
								<div>
									<img src="../../img/deleat.svg" alt="">
								</div>
							</label>
						</div>
					</div>
					
				</div>	
			</li>
			<script>

            $('.choose-btn').on('click',function(){
                $('.choose_cont').addClass('choose_contMore');
                $(".stu_choose p img").css("transform","rotate(180deg)");
            });

       	 	</script>

			<li>
				<label for="" class="c-formShort-q">教學指導教師指導事項</label>
				<div class="c-formShort-a">
					<input type="text"  class="" placeholder="">
				</div>
			</li>
			<li>
				<label for="" class="c-formShort-q">上課情形</label>
				<div class="c-formShort-a">
					<div class="c-radiobox c-radiobox--long">
						<div class="c-radiobox-item ">
							<input type="radio" id="q5-1" for="" title="至少選擇一個" name="q5" value="1">
							<label for="q5-1">學生表現積極、投入</label>
						</div>
						<div class="c-radiobox-item">
							<input type="radio" id="q5-2" for="" title="至少選擇一個" name="q5" value="2">
							<label for="q5-2">學生表現一般</label>
						</div>
						<div class="c-radiobox-item">
							<input type="radio" id="q5-3" for="" title="至少選擇一個" name="q5" value="3">
							<label for="q5-3">學生表現無趣、沒動力</label>
						</div>
					</div>
				</div>
				<!-- <label class="error">*必填</label> -->
			</li>
			<div class="c-btn-form c-btn-form--2">
				<input type="button" value="取消" class="c-btn c-btn-border">
				<input type="button" value="送出" class="c-btn">
			</div>
			
			
		</ul>
	</div>
</div>




<script>
	

</script>


<!-- template footer -->
<footer>
	<div class="c-wrap1220">
		<div class="l-footerbox">
			<img src="../../img/footer_logo.svg" alt="">
			<div>
				<ul>
					<li class="footer_img">
						<img src="../../img/footer_deco.svg" alt="">
						<h3>專案助理</h3>
					</li>
					<li>曾耀德 先生</li>
					<li>信箱：toku6707@mail.ntcu.edu.tw</li>
					<li>電話：04-22183149</li>
				</ul>
				<ul>
					<li class="footer_img">
						<img src="../../img/footer_deco.svg" alt="">
						<h3>專案助理</h3>
					</li>
					<li>陳儀珊 小姐</li>
					<li>信箱：chenyishan@mail.ntcu.edu.tw</li>
					<li>電話：04-22181052</li>
				</ul>
				<ul>
					<li>國立臺中教育大學</li>
					<li>地址：40306台中市西區民生路140號</li>
				</ul>
			</div>
		</div>
		<div class="l-copyright">
			<p>Copyright © 2020國立臺中教育大學 All Rights Reserved.</p>
			<a href="survey.html" class="c-btn">線上問卷</a>
		</div>
		<div class="l-gotop" id="top">
			<span class="icon-arrow"></span>
		</div>
	</div>
</footer>
</body>

 <script>
 	$('#top').on('click',function(){
			$('html,body').animate({ scrollTop: 0},'slow');
		});
 </script>

</html>

