//清除input和select的基礎樣式
input{ appearance:none; -moz-appearance:none; -webkit-appearance:none; outline:none;}
select{ appearance:none; -moz-appearance:none; -webkit-appearance:none; outline:none;}
//這是radio點點樣式
.radio-sty {
	display:inline-block;
	vertical-align:text-top;
	position:relative;
	background:#ccc;
	height: 16px;
	width: 16px;
	border-radius:50%;
	border: 1px solid #ccc;
	outline:none;
	cursor:pointer;
	-webkit-appearance: none;
	&:checked::before { background: $main-color;}//點點 點選後的顏色
}
.radio-sty::before {
  	position: absolute;
	content: '';
  	border-radius: 100%;
  	height: 8px;
  	width: 8px;
  	top: 3px;
	left: 3px;
  	margin: auto;
	transition: background 0.25s;
	-webkit-transition: background 0.25s ;
}
//這是checkbox的勾勾樣式
.check-sty { width:17px; height:17px; border:1px solid #e3e3e3; background:#fff; position:relative; vertical-align:middle; cursor:pointer;
	&:checked::before { background: url(/img/icon_check.png) center center;}//勾勾點選後的樣子
}
.check-sty::before{ 
	position: absolute;
	content: '';
	width:17px;
	height:17px;
  	top: 0;
	left: -2px;
	background:transparent;
	transition: background 0.25s;
	-webkit-transition: background 0.25s ;
}