/*(@) Powered By Critical Truesun */
@import "reset";//全站a ul li h1-h6 img 等基本設定
@import "color";//字色 主色系與輔助色 物件色系
@import "mixins";//浮動 btn 圓角 ht ct 等設定
@import "typegraphy";//可寫入web font的地方
@import "global";//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import "layout";//寫在這邊的都是基本的版面構成，不應該常被更改

html{ font-size: 18px}
body{ padding: 0;margin: 0;box-sizing: border-box;}
*{ box-sizing: border-box;}

//COLOR
$blue:#0080C7;
$blue2:#035380;
$bg1:#f7f7f7;
$bg2:#E8F3FA;

//nav
.header-box{ width: 100%;border-bottom: 1px solid #ccc; position: fixed;left: 0;top:0;background: #fff;z-index: 99;}
h1{ margin-left: 15px;
	img{ width: 50px;height: auto;padding: 10px 0;  }
}
.logo{ @include dvm;  }
.nav{ @include dvm;float: right;padding-right:20px; 
	ul{ display: inline-block; }
	li{ float: left;margin:0  15px;}
	ul li a{ color: #000;font-weight: bold;display: block;padding: 36px 0; transition:.3s;font-size: 1rem;
		&:hover{ color: $blue; }
		&:hover img{ opacity: .9; }
	}
	.act a{ color: $blue; }
}
.fb{ display: inline-block;width: 25px;padding: 36px 0;vertical-align: top;
	img{ display: inline-block; }
	&:hover{ opacity: .9;  }
 }
.btn_top{ position: fixed;right: 40px;bottom: 40px;z-index: 10;cursor: pointer;transition:.3s;
	img{ width: 60px;filter:drop-shadow( 0 2px 2px rgba(0,0,0,.3));-webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,.3)); }
	&:hover{ transform: scale(1.1); }
}
.more_clinic{ position: fixed;left: 40px;bottom: 40px;z-index: 10;transition:.3s;width: 110px;height: 110px;border-radius: 50%;background: #0091E1;
	box-shadow: 0 2px 4px rgba(0,0,0,.3);
	img{ margin: 15px auto 5px;transition:.3s; }
	span{ color: #fff;text-align: center;display: block;font-size: .9rem;}
 	&:hover{ transform: scale(1.1); }
 }

//共同外框 設定
.wrap_box{ position: relative;
	&:before{ content: '';display: block;background: $bg1;width: 95%;height: 42%;position: absolute;z-index: -1;
		border-radius: 50px 0 0 50px;right: 0;top:37%;
	}
}
.wrap{ max-width: 1210px;padding: 0 10px;margin: 0 auto; }
.tit{ margin: 0 auto 20px;}
h2{ color: #000;font-weight: bold;font-size: 2.8rem;display: inline-block;position: relative;
	&:after{ content: '';display: block;background: $blue;width: 100px;height: 6px;margin: 0 auto; }
}
.btn_box{ text-align: center; }
.btn{ background: $blue;color: #fff;padding: 15px 20px;border-radius: 5px;margin: 0 auto;transition:.3s;
	img{ display: inline-block;transition:.3s; }
	&:hover{ background: $blue2; }
	&:hover img{ transform: translateX(5px); }
}

//影音
.wrap1{ padding:95px 10px 0;position: relative;margin: 0 auto;
	img{  position: absolute; bottom: -40px;right: 10px;}
}
.video{ max-width: 1190px;margin: 40px auto 0;height: 670px;
	iframe{ width:100%;display: block;height: 100%; }
}

//甚麼是天使肉毒

.wrap_box2{ padding:130px 0 0;
	&:before{ top:41%;
		//transform: skewY(-37deg); /* 旋轉(斜角可用) */
	}
	&:after{ content: '';display: block;position: absolute;background: url(/img/bg_slogan.svg) no-repeat right center;width:465px;height: 40px;
		top:39%;right: 0;z-index: -1;
	}
}
.tit_box{ width: 70%;margin: 0 auto 30px;
	>div{ display: inline-block; vertical-align: top;}
}
.tit_logo{ width: 180px;margin: 0 30px 0 0; }
.tit_txt{ width: calc( 100% - 220px );margin: 0 auto 30px;
	h3{ font-size: 1.5rem;font-weight: bold;color: #2A2A2A;margin: 0 0 10px;}
	p{ font-size: 1.1rem;line-height: 1.9rem; }
	h2:after{ width: 60px; }
}

.md{
 	img{ margin: 0 auto; }
 }
.slogan{ position: relative;}
.box{ position: absolute;width: 390px; border: 2px solid $blue;padding: 30px;
	h2{ color: $blue;
		&:after{ background: $blue;margin: 5px auto 0;width: 60px; }
	 }
	 p{ margin: 20px 0 0 ;font-size: 1.1rem;line-height: 1.7rem; }
}
.box_l{ left: 0;top:50px; }
.box_r{ right:0;top:240px; }

//美的診療室
.wrap_box3{ padding: 130px 0 40px;
	&:before{ background: $bg2;left: 0;border-radius: 0 40px 40px 0;top:34%; height: 70%;}
 	h3{ text-align: center;font-size: 1.3rem; margin:50px 0; font-weight: bold;}
 }
.tit_c{ 
	img{ margin: 0 auto 20px ; }
	h2{ display: block;text-align: center;
		&:after{ height: 10px; }
	}
 }
 .swiper-clinic{ margin: 50px 0;max-width: 1210px;padding: 0 20px 50px;
	.swiper-slide{ background: #fff;padding: 35px 30px 15px;min-height: 230px;  }
	li{	
		&:first-child{ text-align: center;font-size: 1.3rem;color: #2A2A2A;margin: 0 0 20px; }
		img{ display: inline-block;vertical-align: top;width: 15px;}
		p{ display: inline-block;width: calc( 100% - 21px);margin: 0 0 20px; color: #555;}
	}
	.swiper-pagination{ height: 13px;left: 50%;bottom:10px;transform: translateX(-50%);}
	.swiper-button-next,.swiper-button-prev{ top:40%; }

}
.swiper-button-next{ 
	background:url(/img/icon_arrow.svg) no-repeat;width: 45px;height: 45px;filter:drop-shadow( 0 2px 2px rgba(0,0,0,.3));-webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,.3));
	right: 0;
  }
.swiper-button-prev{
	background:url(/img/icon_arrow.svg) no-repeat;transform: rotate(180deg);width: 45px;height: 45px;filter:drop-shadow( 0 2px 2px rgba(0,0,0,.3));-webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,.3));
	left: 0;
}
.swiper-pagination-bullet{ width: 8px;height: 8px;background:#ccc;vertical-align: middle;opacity: 1;margin: 0 5px;}
.swiper-pagination-bullet-active{ width: 13px;height: 13px;background:$blue;}

//肉毒桿菌素純不純，你該知道
.wrap_box4{ padding: 120px 0 40px;
	&:before{ top:430px; height: 50%;width: 85%; }
	.tit{ margin: 0 auto 40px; }
}
.know{
	>div{ display: inline-block; }
}
.num_wrap{ width: calc( 100% - 475px);vertical-align: top; margin-top:100px; }
.num_box{ width: 329px; display: inline-block;background: #0080C7;position: relative;box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	padding: 50px 30px 30px;height: 220px;border-radius: 20px 20px 0 20px;margin: 0 auto 100px;vertical-align: top;
	&:before{ content: '';right: -40px;bottom:20px;position: absolute;display: block;
		//三角形css
		width: 0;height: 0;border-style: solid;border-width: 25px 0 25px 40px;
		border-color: transparent transparent transparent #0080C7;
	 }
	img{ width: 105px;position: absolute;top: -40px;filter:drop-shadow( 0 2px 2px rgba(0,0,0,.3));-webkit-filter: drop-shadow(1px 2px 2px rgba(0,0,0,.4)); }
	p{ color: #fff;font-size: 1.1rem; }
	&:nth-child(odd){ margin-right:50px  }
	&:nth-child(2){ 
		&:before{ right: 20px;bottom:-40px;border-width: 40px 25px 0 25px;
			border-color:#0080C7 transparent transparent transparent ;
	 	}
	 }
	 &:nth-child(4){
	 	&:before{ left: -40px;top:40px;border-width: 25px 40px 25px 0;
			border-color: transparent #0080C7 transparent transparent ;
	 	}
	 }
	 &:nth-child(3),&:nth-child(4){ margin-bottom: 80px;  }
 }
.docter{ background: $blue2;color: #fff;padding: 20px ;border-radius: 10px;width: 80%;margin:0 0 0 50px;position: relative;text-align: center;font-size: 1.1rem;
&:before{ content: '';left: -36px;top:7px;position: absolute;display: block;
		//三角形css
		width: 0;height: 0;border-style: solid;border-width: 25px 40px 25px 0;
		border-color: transparent $blue2 transparent transparent;
	 }
 }

//別讓複合性蛋白影響妳的美麗
.wrap_box5{ padding: 140px 0 0;
	&:before{ top:7%;left: 0; height: 39%;width: 58%; background: $bg2;border-radius: 0 40px 40px 0;}
	.tit{ margin: 0 auto 40px; }
}
.qa{ margin: 0 0 20px;
	span{ font-size: 4rem;font-weight: bold;vertical-align: middle; }
	p{ display: inline-block;color: #2A2A2A;font-size: 1.5rem;font-weight: bold; }
 }
.up{ background: #fff;position: relative;width: 100%;height: 250px;border-radius: 10px 10px 0 0;
	&:before{ content:'01';display: block;position: absolute;color: #eee;font-size: 10rem;top: 50%;left: 50%;transform: translateX(-50%)translateY(-50%); }
	p{ font-size: 2.4rem;color: #2A2A2A;font-weight: bold;padding: 1px;background: #fff;display: inline-block;position: absolute;top: 50%;left: 50%;transform: translateX(-50%)translateY(-50%); }
}
.down{ background: $blue;height: 200px;padding: 40px 25px 0;
	p{ color: #fff;font-size: 1.1rem; }
}
.q1_cont{ width: 90%;margin: 0 auto 100px;
	li{ margin: 0 15px 0 0; display: inline-block; width: calc((100% - 41px)/3);vertical-align: top;font-size: 0;
		filter:drop-shadow( 0 2px 2px rgba(0,0,0,.2));-webkit-filter: drop-shadow(1px 2px 2px rgba(0,0,0,.2));transition: .3s;
		&:nth-child(2){
			.up:before{ content:'02'; }
			.down{ background: $blue2; }
		}
		&:nth-child(3){ margin-right:0; 
			.up:before{ content:'03'; }
		}
		&:hover{ transform: scale(1.1); }
	 }
}
.q2_cont{ width: 90%;margin: 0 auto;}
.qa_l{ width: 40%;display:inline-block;vertical-align: top;
	li{ margin: 35px 0; }
	img{ display: inline-block; vertical-align: middle;}
	p{ display: inline-block;margin: 0 0 0 10px;font-size: 1.2rem;vertical-align: middle; width: calc( 100% - 110px);}
	span{ color: $blue; }
	span:first-child{ color: $blue2;   }
}
.qa_r{ display:inline-block;width: 58%;
	img{ width: 100%; }
}

//美的見證
.wrap_box6{ padding: 120px 0 50px;
	&:before{ background: $bg2;width: 70%;top:0; }
}
.swiper-article{ max-width: 1210px;padding: 0 50px 50px;margin: 80px 0 0;
	.swiper-button-next, .swiper-button-prev{ top:45%; }
	.swiper-pagination{ bottom: 0; }
	.btn{ display: inline-block; margin: 30px auto 0; }

}
.pic{ width: 100%;height: 330px;margin: 0 auto 30px; position: relative;border-radius: 5px;transition: .3s;}
.name{ font-size: 1.1rem; position: absolute;background: #8ABABB;color: #fff;padding: 10px;right: 15px;bottom: -10px; }
.article_tit{ font-size: 1.2rem;font-weight: bold;margin: 0 0 10px;color: #2A2A2A; }
.article_txt{ color: #555;
	//height: 65px; overflow: hidden;-webkit-line-clamp: 3; //出現3行
	//display: -webkit-box;-webkit-box-orient: vertical;
 }
.article{ cursor: pointer;
	&:hover .pic{ opacity: .9; }
}

//light_box
.noscroll{ overflow: hidden;}
.mask{ width:100%; height:100%; position:fixed; background:rgba(0,0,0,.8); z-index:100;top:0;}
.lightbox_wrap{ position: fixed;z-index: 101;width:80%;background: #fff;top:50%;left:50%;transform: translateY(-50%) translateX(-50%);
	 border-radius: 10px; }
.light_box{ height: 650px;
	overflow:scroll;-webkit-overflow-scrolling:touch; padding: 70px;
}
.close{ position: absolute;right: 20px;top:20px;cursor: pointer;z-index: 102; }
.lb_tit{
	h3{ font-size: 1.6rem;font-weight: bold; }
	p{ margin: 10px 0 20px;font-size: 1.3rem; }
}

//map
.map_wrap{ padding: 100px 0 0;height:100vh;}
.map_box{ width: 30%;display: inline-block;
	border-right:1px solid #ccc; 
	.btn_box{ cursor: pointer;
		.btn:first-child{ width: 38%; }
		.btn:last-child{ width: 60%; }
		img{ width: 45px; }
	}
}
button.btn span{ font-size: 1rem;  }
button{ outline: none;border:none;  }

.search{ padding: 40px 20px;position: fixed;background: #fff;width: 30%;top:98px;left: 0;border-right:1px solid #ccc;box-shadow: 0 2px 2px rgba(0,0,0,.2);
	::-webkit-input-placeholder { /* WebKit browsers */color:#ccc;}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#ccc;}
	::-moz-placeholder { /* Mozilla Firefox 19+ */color:#ccc;}
	:-ms-input-placeholder { /* Internet Explorer 10+ */color:#ccc;}
 }
.search_input{ border: 1px solid #ccc;width: 100%;padding:12px 10px 12px 35px;border-radius: 5px;font-size: 1rem; 
	outline: none;background: url(/img/icon_search.svg) no-repeat left 10px center ;background-size: .9rem;
	margin: 0px 0 15px;
}
.map_ul{ background: #F8F8F8;margin-top: 190px;height:calc( 100vh - 290px );overflow-y:scroll; 
	li{ background: #fff;padding: 20px;margin: 10px 0;cursor: pointer;
		//&:first-child{ margin-top:0;  }
		&:hover{ background: $bg2; }
	}
	h3{ color: #000;font-size: 1.3rem;font-weight: bold; }
	h4{ font-size: .9rem;color: #939393;margin:5px 0 10px; }
 }
.add , .phone{ margin: 10px 0;
	img{ display: inline-block;width: 15px; vertical-align: top;margin: 0 5px 0 0;}
	p{ display: inline-block;width: calc( 100% - 25px); }
 }
.note{ color: $blue;margin: 15px 0 0; }
.icon_map_now{ width: 80px; }
.icon_map{ width: 30px; }
#cont_map{ float: right;width: 70%;position: absolute !important;right: 0 ;left: auto ;height: calc( 100vh - 100px);
	iframe{ width: 100%;height: 100%; }
 }
 //#cont_map{ right: 0 !important ;float: right;width: 70% !important; left: auto !important;height: calc( 100vh - 102px) !important;}
 .map_tab{ display: none; }


//qrcode
.qrcode{ height:calc( 100vh - 40px);overflow: hidden;position: relative;
	>img{ width: 115px;padding-top:23%;margin: 0 auto 30px;}
	.btn{ width: 100%; padding: 11px;
		span{ font-size: 1.2rem; }
		img{ width: 45px; }
	}
	::-webkit-input-placeholder { /* WebKit browsers */color:#ccc;}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#ccc;}
	::-moz-placeholder { /* Mozilla Firefox 19+ */color:#ccc;}
	:-ms-input-placeholder { /* Internet Explorer 10+ */color:#ccc;}
	&:before{ content: '';display: block;background: $bg1;width: 25%;height: 35%;position: absolute;z-index: -1;
		border-radius: 0 0 0 20px;right: 0;top:0; }
	&:after{ content: '';display: block;background: $bg2;width: 25%;height: 45%;position: absolute;z-index: -1;
		border-radius: 0 20px 20px 0;left: 0;bottom:5%; }
	label.error{ color:#dc0303; margin: -15px 0 15px;display: block;font-size: 1.1rem;}	
}
.qr_cont{ width: 70%;margin: 0 auto; text-align: center;
	p{ font-size: 1.2rem;margin: 0  0 20px;font-weight: bold; }
	h3{ background: #8ABABB;color: #fff;padding:15px 20px;display: inline-block;font-size: 1.1rem;font-weight: bold; }
}
.code{ border: 1px solid #ccc;width: 100%;border-radius: 5px;font-size: 1.2rem;text-align: center;
	padding: 10px;margin: 20px  0 20px;outline: none;font-weight: bold;background: none;
}
// input.error{ border: 1px solid red; }

.none{ text-align: center;font-size: 1.3rem;font-weight: bold;margin: 50px 0 0; }

//動畫
//.zero{ opacity:0; }

body{
	cursor:url(/img/wing.cur) , auto;
	-webkit-cursor:url(/img/wing.cur) , auto;
}

footer{ background: #555;color: #fff;text-align: center;line-height: 40px;font-size: 14px; }
.m-nav{ display: none;}





//RWD 手機版css 
@import "m_sty";
