@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: auto; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0;
  display: block; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none;
  list-style-type: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  outline: none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */
  cursor: pointer; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none; }

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none; }

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none; }

:focus {
  outline: none; }

input[type="checkbox"] {
  width: 1px;
  height: 1px;
  opacity: 0; }

input[type="checkbox"]:checked + .e-checkbox::after {
  content: '\e902';
  display: block;
  font-family: 'icomoon' !important;
  font-size: 1rem;
  text-rendering: auto;
  color: #000;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 0 0 0 2px;
  line-height: 25px;
  text-align: center; }

.e-checkbox {
  width: 25px;
  height: 25px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border: 1px solid #555; }

.e-checkboxWrap label {
  width: 24%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px; }

.e-checkboxWrap span {
  width: calc( 100% - 50px);
  display: inline-block;
  vertical-align: top; }

.e-radiobox {
  display: inline-block;
  vertical-align: middle;
  width: calc( 100% - 150px); }
  .e-radiobox label {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 1.1rem;
    cursor: pointer; }
  .e-radiobox input[type='radio'] {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #555;
    padding: 0;
    margin: 0px;
    vertical-align: middle; }
  .e-radiobox input[type='radio']:checked {
    position: relative; }
    .e-radiobox input[type='radio']:checked:before {
      content: "";
      background: #555;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%); }

.e-radiobox-item {
  width: 175px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px; }

.e-radiobox-long {
  width: 100%;
  display: block; }
  .e-radiobox-long .e-radiobox-item {
    width: 19%; }

@media screen and (max-width: 780px) {
  .e-checkboxWrap label {
    width: 49%; }
  .e-radiobox-long .e-radiobox-item {
    width: 49%; } }

@media screen and (max-width: 600px) {
  .e-checkboxWrap label {
    width: 100%; }
  .e-radiobox-long .e-radiobox-item {
    width: 100%; } }

.e-form {
  width: 100%;
  margin: 0 auto; }
  .e-form li {
    margin-bottom: 20px;
    position: relative; }

.e-form_tit {
  margin: 50px 0 30px; }
  .e-form_tit h2 {
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    position: relative; }
    .e-form_tit h2:before {
      content: "";
      background: #CEA95B;
      width: 25px;
      height: 3px;
      position: absolute;
      bottom: -4px;
      left: 8px; }

.e-form-list {
  display: flex;
  align-items: flex-start; }
  .e-form-list input {
    height: 50px;
    line-height: 50px;
    width: 250px;
    border-bottom: 1px solid #555; }
  .e-form-list span {
    width: 150px;
    display: inline-block;
    text-align: left; }
  .e-form-list select {
    width: 250px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border: 1px solid #555;
    background: #fff url(../img/icon_arrow.svg) no-repeat right 15px center; }

.e-form-list_ait {
  align-items: center; }

label.error {
  color: #BD0000;
  position: absolute;
  bottom: -8px;
  font-size: .9rem; }

@media screen and (max-width: 600px) {
  .e-form-list {
    display: block; }
    .e-form-list span {
      margin-bottom: 10px; }
    .e-form-list input, .e-form-list select {
      width: 100%; }
  .e-radiobox {
    width: 100%; }
  label.error {
    position: relative; } }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .clearfix {
  display: block; }

.unset img {
  max-width: 100%;
  height: auto !important; }

* {
  box-sizing: border-box; }

html, body {
  position: relative;
  font-family: '微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro',新細明體;
  font-size: 16px;
  color: #2A2A2A; }

button {
  outline: none;
  font-size: 100%;
  border: none; }

input, textarea, select {
  color: #2A2A2A;
  outline: none;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  border: none; }

a {
  color: #2A2A2A; }

@media screen and (max-width: 780px) {
  html, body {
    font-size: 15px; } }

@media screen and (max-width: 600px) {
  html, body {
    font-size: 14px; } }

.l-wrapbox {
  min-height: calc( 100vh - 142px);
  background: #EFEEF0;
  padding: 110px 0 100px; }

.l-wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  z-index: 2; }

.l-wrap_bg {
  background: #fff;
  box-shadow: 0 2px 10px #0000003d;
  padding: 100px 75px 70px;
  position: relative;
  z-index: 2;
  width: 98%;
  border-top: 2px solid #939baa73; }

.l-wrapbox-white {
  padding: 110px 0 0; }

.l-wrapbox-gray {
  background: #EFEEF0;
  padding: 50px 0 100px;
  position: relative; }
  .l-wrapbox-gray:before {
    content: '';
    background: #fff;
    width: 100%;
    height: 85px;
    display: block;
    position: absolute;
    top: 0px; }

@media screen and (max-width: 1024px) {
  .l-wrap_bg {
    padding: 50px 30px 70px; } }

@media screen and (max-width: 600px) {
  .l-wrap_bg {
    padding: 50px 15px 50px;
    margin: 20px auto 0; }
  .l-wrapbox {
    padding: 70px 0; } }

.l-menu-wrap {
  background: #939BAA; }

.l-menu {
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }

h1 img {
  height: 70px; }

.l-logo {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 10px; }

.l-menu_item {
  display: inline-block;
  vertical-align: middle;
  float: right; }
  .l-menu_item ul {
    display: inline-block;
    margin: 20px 15px 16px 0; }
  .l-menu_item li {
    float: left; }
  .l-menu_item ul li a {
    color: #fff;
    font-weight: bold;
    display: block;
    transition: .3s;
    font-size: 1rem;
    position: relative;
    padding: 15px 15px;
    margin: 0 1px;
    letter-spacing: 1px; }
    .l-menu_item ul li a:hover {
      color: #CEA95B; }

.l-menu_item--active {
  background: #CEA95B; }

.l-menu_iconbox {
  float: right;
  display: flex; }

.l-menu_icon {
  width: 30px;
  padding: 32px 0;
  vertical-align: top;
  margin-right: 15px; }
  .l-menu_icon img {
    width: 100%; }
  .l-menu_icon:hover {
    opacity: .9; }

.l-menu_mobile {
  display: none; }

@media screen and (max-width: 780px) {
  h1 img {
    height: 60px; }
  .l-logo {
    padding: 10px; }
  .l-menu_item {
    display: none;
    float: none;
    text-align: center;
    width: 100%;
    top: 80px;
    right: 0;
    z-index: 10;
    padding-right: 0;
    position: absolute; }
    .l-menu_item li {
      float: none;
      display: block;
      margin: 0;
      border-bottom: 1px solid #ccc;
      background: #939BAA; }
    .l-menu_item ul li a {
      padding: 20px 0; }
    .l-menu_item ul {
      border-top: 1px solid #ccc;
      width: 100%;
      display: block;
      margin: 0; }
    .l-menu_item img {
      margin: 0 auto; }
  .l-menu_item--active {
    background: #fbe48c; }
  .l-menu_iconbox {
    position: absolute;
    right: 50px;
    top: 24px; }
  .l-menu_icon {
    padding: 0;
    margin-right: 10px; }
  .l-menu_mobile {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 19px;
    right: 10px;
    display: block;
    z-index: 100; }
  .o-grid__item {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px; }
  .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
  .c-hamburger:focus {
    outline: none; }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 3px;
    background: #CEA95B; }
  .c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: #CEA95B; }
  .c-hamburger span::before {
    top: -7px; }
  .c-hamburger span::after {
    bottom: -7px; }
  .c-hamburger--htx {
    background-color: transparent; }
  .c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s; }
  .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform; }
  .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform; }
  /* active state, i.e. menu open */
  .c-hamburger--htx.is-active span {
    background: none; }
  .c-hamburger--htx.is-active span::before {
    top: 0;
    background-color: #CEA95B;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    background-color: #CEA95B;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .c-hamburger--htx.is-active span::before,
  .c-hamburger--htx.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s; } }

@media screen and (max-width: 600px) {
  h1 img {
    height: 45px; }
  .l-menu_icon {
    margin-right: 5px; }
  .l-logo {
    padding: 15px 10px; }
  .l-menu_item {
    top: 75px; } }

footer {
  background: #939BAA;
  position: relative;
  z-index: 2; }

.l-footer {
  background: #939BAA;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 30px;
  font-size: .9rem; }
  .l-footer a {
    transition: .5s; }
  .l-footer li {
    display: flex;
    align-items: center;
    margin: 10px 0; }
    .l-footer li:first-child img {
      height: 28px;
      transition: .5s; }
    .l-footer li a {
      padding: 0  10px;
      color: #fff; }
    .l-footer li:last-child a {
      padding: 0 20px; }
      .l-footer li:last-child a:hover {
        opacity: .8; }
    .l-footer li p {
      margin-left: 10px;
      color: #fff; }
    .l-footer li span {
      width: 1px;
      height: 20px;
      background: #ccc;
      margin-top: 5px; }

@media screen and (max-width: 1024px) {
  .l-footer li:first-child img {
    height: 20px; }
  .l-footer li a {
    padding: 0 6px; }
  .l-footer li p {
    margin-left: 2px; } }

@media screen and (max-width: 780px) {
  footer {
    font-size: .8rem; }
  .l-footer {
    display: block;
    text-align: center; }
    .l-footer li {
      justify-content: center;
      padding: 5px 0;
      margin: 0; }
      .l-footer li a {
        padding: 15px 10px 0; } }

.gotop {
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: #CEA95B;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  transition: .3s; }
  .gotop:hover {
    background: #d0a242; }

@media screen and (max-width: 600px) {
  .gotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 30px; } }

.icon-vs {
  position: fixed;
  bottom: 85px;
  left: 10px;
  z-index: 4;
  background: #CEA95B;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  transition: .3s; }
  .icon-vs span {
    transform: rotate(45deg);
    color: #fff;
    display: block;
    line-height: 50px; }
  .icon-vs:hover {
    background: #d0a242; }

@media screen and (max-width: 600px) {
  .icon-vs {
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 75px; }
    .icon-vs span {
      line-height: 40px; } }

.share {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-52%) translateY(-50%);
  height: 22px; }

.icon_share {
  background: #CEA95B;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 85px;
  right: 10px;
  z-index: 10; }
  .icon_share:hover {
    background: #d0a242; }
  .icon_share .icon-x {
    font-size: 1.5rem;
    line-height: 50px;
    display: block; }

.icon_shareList {
  position: fixed;
  bottom: 140px;
  right: 10px;
  z-index: 10; }
  .icon_shareList a {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px; }
  .icon_shareList .social-share .icon-wechat {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 5px; }
    .icon_shareList .social-share .icon-wechat .qrcode img {
      top: 66%; }
    .icon_shareList .social-share .icon-wechat .wechat-qrcode {
      left: auto;
      right: 65px;
      top: auto;
      bottom: 0px; }
      .icon_shareList .social-share .icon-wechat .wechat-qrcode:after {
        display: none; }
  .icon_shareList img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .icon_shareList .social-share .social-share-icon {
    border: none;
    border-radius: 0; }

.icon_fb {
  background: #375298; }

.icon_line {
  background: #54A433; }

.icon_wechat {
  background: #5AB316; }

.social-share .icon-wechat.wechat-act .wechat-qrcode {
  display: block; }

@media screen and (max-width: 600px) {
  .icon_share {
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 75px; }
  .icon_shareList {
    bottom: 120px; }
  .icon_shareList a {
    width: 40px;
    height: 40px; }
    .icon_shareList a img {
      height: 20px; } }

.noscroll {
  overflow: hidden; }

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  top: 0; }

.l-list {
  width: 100%;
  padding: 30px 0;
  background: #203C32;
  border-top: 1px solid #44391C; }
  .l-list_group {
    width: 100%;
    position: relative; }
    .l-list_group_title {
      display: block;
      background: #203C32;
      padding: 10px 20px;
      position: absolute;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px; }

@media screen and (max-width: 600px) {
  .l-list {
    width: 100%;
    padding: 20px 0 0 0; }
    .l-list_group {
      display: none; }
      .l-list_group_title {
        padding: 10px; } }

.col-container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px; }

.col-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.col-4 {
  position: relative;
  max-height: 1px;
  width: 33.3333%;
  flex: 0 0 33.3333%;
  padding-left: 15px;
  padding-right: 15px; }

.c-btn {
  position: relative;
  background: none; }
  .c-btn span {
    height: 65px;
    line-height: 65px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .5s;
    color: #fff;
    background: #CEA95B;
    width: 300px;
    text-align: center;
    display: block;
    position: relative; }
    .c-btn span:after {
      content: '\e911';
      display: inline-block;
      font-family: 'icomoon' !important;
      font-size: 1rem;
      margin-left: 5px; }
  .c-btn:hover span {
    background: #d0a242; }

.c-btn-flex {
  display: flex;
  justify-content: center;
  margin: 70px auto 0;
  width: 100%;
  position: relative;
  z-index: 2; }
  .c-btn-flex .c-btn:first-child {
    margin-right: 40px; }

.c-btn-box {
  margin: 70px auto 0;
  position: relative;
  z-index: 2;
  text-align: center; }
  .c-btn-box .c-btn {
    margin: 0 auto;
    display: inline-block; }

.c-btn--border span {
  background: #EFEEF0;
  border: 2px solid #CEA95B;
  color: #000; }
  .c-btn--border span:hover {
    color: #fff; }

@media screen and (max-width: 780px) {
  .c-btn span {
    width: 250px; } }

@media screen and (max-width: 600px) {
  .c-btn-flex {
    display: block; }
    .c-btn-flex .c-btn:first-child {
      margin-right: auto; }
  .c-btn {
    display: block;
    width: 90%;
    margin: 0 auto 30px; }
    .c-btn span {
      width: 100%; } }

.c-tit {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  position: absolute;
  left: 75px;
  top: -40px; }
  .c-tit p {
    background: #CEA95B;
    padding: 0 100px;
    height: 80px;
    line-height: 80px;
    font-size: 1.3rem;
    position: relative;
    color: #fff; }

.c-title--bold {
  font-size: 1.2rem;
  margin: 20px 0 15px;
  font-weight: bold; }

@media screen and (max-width: 600px) {
  .c-tit p {
    height: 70px;
    line-height: 70px; } }

.c-lightbox-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  z-index: 101;
  width: 600px;
  background: #fff;
  text-align: center;
  padding: 60px 10px;
  font-size: 1.1rem; }
  .c-lightbox-wrap .c-btn {
    cursor: pointer;
    margin: 0 auto; }
  .c-lightbox-wrap .c-btn span {
    display: inline-block; }

.c-lb-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; }

.c-lb_fb {
  background: #375298 url(../img/icon_fb_g.svg) no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0 0 5px;
  background-size: 60%; }

.c-lb_line {
  background: #54A433 url(../img/icon_line_g.svg) no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0 0 5px;
  background-size: 60%; }

.c-close {
  position: absolute;
  right: -25px;
  top: -25px;
  background: #CEA95B;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .3s; }
  .c-close span {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 50px; }

@media screen and (max-width: 780px) {
  .c-lightbox-wrap {
    width: 90%;
    padding: 40px 10px; } }

@media screen and (max-width: 600px) {
  .c-close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: -20px;
    top: -20px; }
    .c-close span {
      line-height: 40px; } }

.c-pagination {
  text-align: center;
  margin-bottom: 70px; }
  .c-pagination a {
    display: inline-block;
    margin: 0 2px;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #2248AE;
    padding: 0; }
    .c-pagination a:hover {
      color: #fff;
      border-color: #2248AE;
      background: #2248AE;
      transition: .5s; }
    .c-pagination a span {
      vertical-align: middle;
      line-height: 30px; }
  .c-pagination .c-pagination--active {
    background: #2248AE;
    color: #fff; }

.c-tab-wrap {
  display: flex;
  max-width: 860px;
  margin: 0px auto 0;
  justify-content: center; }

.c-tab {
  background: #fff;
  border: 1px solid #CEA95B;
  text-align: center;
  width: 32%;
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: .5s;
  border-radius: 100px;
  color: #7C7C7C;
  margin-right: 8px; }
  .c-tab:hover {
    background: #d0a242;
    color: #fff; }

.c-tab--active {
  background: #CEA95B;
  color: #fff; }
  .c-tab--active:hover {
    background: #CEA95B; }

@media screen and (max-width: 1024px) {
  .c-tab {
    width: 30%; } }

@media screen and (max-width: 600px) {
  .c-tab {
    letter-spacing: 0; }
    .c-tab:after {
      margin-left: 0; } }

.c-item-wrap {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  position: relative;
  z-index: 2; }

.c-item {
  width: calc(( 100% - 30px) / 3);
  position: relative;
  margin-right: 15px;
  margin-bottom: 65px;
  background-color: #fff;
  box-shadow: 0 2px 3px #0000003d;
  border-radius: 10px 10px 0 0; }
  .c-item:nth-child(3n) {
    margin-right: 0; }
  .c-item a {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .c-item h3, .c-item p {
    padding: 0 10px; }
  .c-item h3 {
    font-weight: bolder;
    font-size: 1.1rem;
    margin: 10px 0 5px; }
  .c-item p {
    padding-bottom: 10px; }

.c-item_box {
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-radius: 5px 5px 0 0; }
  .c-item_box:hover .c-item_img {
    transform: scale(1.1); }

.c-item_img {
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px 5px 0 0;
  transition: .5s; }

@media screen and (max-width: 1024px) {
  .c-item {
    width: calc(( 100% - 15px) / 2);
    margin-bottom: 35px; }
  .c-item:nth-child(3n) {
    margin-right: 15px; }
  .c-item:nth-child(2n) {
    margin-right: 0; } }

@media screen and (max-width: 780px) {
  .c-item_img, .c-item_box {
    height: 200px; } }

@media screen and (max-width: 600px) {
  .c-item {
    width: 100%;
    margin-right: 0; }
  .c-item:nth-child(3n) {
    margin-right: 0; } }

.c-item-square {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 5px 5px 0 0; }
  .c-item-square > img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transition: .5s; }
  .c-item-square:hover img {
    transform: scale(1.1); }

.c-item--bgnone .c-item {
  box-shadow: none;
  background-color: transparent; }

.c-table {
  display: table;
  width: 100%;
  border-bottom: 1px solid #7C7C7C;
  border-right: 1px solid #7C7C7C;
  border-left: 1px solid #7C7C7C; }
  .c-table:first-child {
    background: #EDEDED;
    border-top: 1px solid #7C7C7C; }
  .c-table:nth-child(2) {
    background: #cea95b60; }
  .c-table > div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; }
    .c-table > div:first-child {
      width: 30%;
      border-right: 1px solid #7C7C7C; }
    .c-table > div:nth-child(2) {
      width: 40%;
      border-right: 1px solid #7C7C7C; }
    .c-table > div:last-child {
      width: 30%; }

.h-center {
  text-align: center; }

.h-maT30 {
  margin-top: 30px; }

.h-maB100 {
  margin-bottom: 100px; }

.l-menu-wrap-bg {
  background: #7C7C7C; }

.banner-wrap {
  position: relative;
  overflow: hidden; }
  .banner-wrap:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 180px;
    border-left-width: 102vw;
    border-color: transparent transparent transparent #fff;
    z-index: 3; }
  .banner-wrap:before {
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-left-width: 20vw;
    border-bottom-width: 70vh;
    border-color: transparent transparent #939BAA transparent; }

.swiperBanner {
  position: relative;
  overflow: hidden; }
  .swiperBanner:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background: url(../img/direct_bgTr.svg) no-repeat left top/contain;
    width: 150px;
    height: 80vh; }
  .swiperBanner:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 500px 0 0 250px;
    border-color: transparent transparent transparent #939BAA; }

.banner {
  width: 100%;
  height: calc( 100vh - 92px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden; }

.tit-img {
  position: absolute;
  right: 40px;
  bottom: 19vh;
  z-index: 5; }

.tit-img2 {
  position: absolute;
  right: 40px;
  bottom: 10vh;
  z-index: 5; }

@media screen and (max-width: 780px) {
  .tit-img2 {
    width: 90%; } }

@media screen and (max-width: 600px) {
  .tit-img {
    width: 90%;
    right: 20px; }
  .tit-img2 {
    right: 20px;
    bottom: 13vh; }
  .swiperBanner:after {
    width: 100px; }
  .swiperBanner:before {
    border-width: 430px 0 0 140px; }
  .banner-wrap:after {
    border-top-width: 80px; }
  .banner-wrap:before {
    border-bottom-width: 40vh; } }

.swiperCompany-thumbs {
  position: relative;
  max-width: 1280px;
  margin-top: 50px; }
  .swiperCompany-thumbs:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/direct_tit3.svg) no-repeat top left/contain;
    width: 60px;
    height: 485px;
    top: 50px;
    right: 0;
    z-index: 5; }
  .swiperCompany-thumbs .swiper-slide {
    display: flex;
    position: relative;
    max-width: 1280px;
    padding: 50px 75px 0px 10px; }
    .swiperCompany-thumbs .swiper-slide:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 5;
      width: 0;
      height: 0;
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 100px;
      border-left-width: 1260px;
      border-color: transparent transparent #fff transparent; }

.slide-left {
  width: 50%;
  background: #939BAA;
  color: #fff;
  position: relative;
  padding: 130px 80px 100px; }
  .slide-left h2 {
    font-size: 1.5rem; }
  .slide-left h3 {
    font-size: 1.2rem;
    margin: 10px 0 20px; }
  .slide-left article {
    line-height: 1.7;
    font-size: 1.1rem; }

.slide-left-tit {
  position: absolute;
  background: #CEA95B;
  padding: 30px 40px;
  width: 75%;
  font-size: 1.2rem;
  top: -50px;
  left: 35px; }

.slide-right {
  width: 50%;
  overflow: hidden; }
  .slide-right:hover .slide-right-img {
    transform: scale(1.1); }

.slide-right-img {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s; }

.Company-next, .Company-prev {
  bottom: 0;
  top: auto;
  background-color: #CEA95B;
  opacity: 1;
  background-image: none;
  width: 40px;
  height: 40px;
  text-align: center; }
  .Company-next:after, .Company-prev:after {
    font-family: 'icomoon';
    font-size: 1.6rem;
    color: #fff;
    line-height: 40px; }
  .Company-next:hover, .Company-prev:hover {
    background: #d0a242; }

.Company-next {
  right: 75px; }
  .Company-next:after {
    content: '\e911'; }

.Company-prev {
  left: auto;
  right: 130px; }
  .Company-prev:after {
    content: '\e904'; }

@media screen and (max-width: 780px) {
  .slide-left {
    padding: 120px 20px 100px; }
  .slide-left-tit {
    left: 5%;
    width: 90%; }
  .slide-right-img {
    height: 450px; }
  .swiperCompany-thumbs:before {
    height: 395px; } }

@media screen and (max-width: 600px) {
  .swiperCompany-thumbs .swiper-slide {
    flex-direction: column-reverse; }
  .slide-left, .slide-right {
    width: 100%; }
  .swiperCompany-thumbs .swiper-slide {
    padding: 0 10px; }
  .swiperCompany-thumbs:before {
    top: 30px;
    width: 40px;
    right: 15px; }
  .slide-right:hover .slide-right-img {
    transform: none; }
  .slide-left {
    padding: 60px 20px 100px; }
  .slide-left-tit {
    position: relative;
    margin: -110px 0 20px;
    top: auto; } }

.swiperCompany {
  margin: 100px 0 80px;
  padding: 40px 0 85px;
  position: relative; }
  .swiperCompany:before {
    content: '';
    background: #EFEEF0;
    width: 85%;
    height: 200px;
    display: block;
    position: absolute;
    bottom: 0px; }
  .swiperCompany .swiper-slide-active {
    background: #939BAA;
    color: #fff;
    position: relative; }
    .swiperCompany .swiper-slide-active:before {
      display: block; }
  .swiperCompany .Company-page {
    bottom: 30px; }
  .swiperCompany .swiper-pagination-bullet {
    background: #555;
    opacity: .9; }
  .swiperCompany .swiper-pagination-bullet-active {
    background: #CEA95B;
    width: 12px;
    height: 12px;
    vertical-align: middle; }

.company-slide {
  width: 250px;
  text-align: center;
  border-right: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  border-bottom: 2px solid #939BAA;
  background: #fff;
  transition: .5s; }
  .company-slide h2 {
    font-weight: bold;
    margin: 20px 0 5px; }
  .company-slide p {
    padding-bottom: 45px; }
  .company-slide:before {
    content: '';
    background: #CEA95B;
    width: 150px;
    height: 150px;
    display: block;
    z-index: 1;
    position: absolute;
    left: calc( 50% + 10px);
    transform: translateX(-50%);
    top: -30px;
    display: none; }
  .company-slide:hover {
    background: #939BAA;
    color: #fff; }
    .company-slide:hover:before {
      display: block; }

.slides-small-img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -20px auto 0;
  z-index: 2;
  position: relative; }

.company-box {
  position: relative;
  max-width: 860px;
  margin: 20px auto 100px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); }
  .company-box:before {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/direct_bg.svg) repeat;
    width: 150px;
    height: 150px;
    bottom: -20px;
    left: -20px; }
  .company-box:after {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/direct_bg.svg) repeat;
    width: 150px;
    height: 150px;
    top: -20px;
    right: -20px; }

.company-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 50px 40px;
  border-radius: 5px;
  background: #fff; }
  .company-cont > img {
    width: 130px; }

.company-info {
  width: 70%; }
  .company-info > div {
    display: flex; }
  .company-info h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px; }
  .company-info h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 30px; }
  .company-info p {
    font-size: 1.1rem; }

.border {
  width: 2px;
  height: 105px;
  background: #555; }

.company-add {
  display: block;
  background: #CEA95B;
  box-shadow: 0 2px 10px #00000045;
  color: #fff;
  padding: 15px 40px;
  position: absolute;
  bottom: -20px;
  right: 30px; }
  .company-add:hover {
    background: #d0a242; }
  .company-add .icon-x {
    text-align: center;
    font-size: 1.2rem;
    transform: rotate(45deg);
    transition: .3s;
    display: inline-block;
    margin-right: 5px; }
  .company-add span {
    vertical-align: middle;
    font-size: 1.3rem; }

.company-about {
  background: #fff;
  padding: 30px calc(( 100% - 860px) /2) 50px;
  margin-top: 50px;
  box-shadow: 0 1px 5px #00000026; }

@media screen and (max-width: 1024px) {
  .company-about {
    padding: 70px 15px 50px; } }

@media screen and (max-width: 780px) {
  .company-add {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -70px; } }

@media screen and (max-width: 600px) {
  .company-cont {
    display: block; }
    .company-cont > img {
      margin: 0 auto 20px; }
  .company-info {
    width: 100%; }
    .company-info h2, .company-info h3 {
      text-align: center; }
  .border {
    display: none; } }

.vs-table {
  display: flex;
  margin: -20px 0 70px; }

.vs-item {
  width: calc(( 100% - 40px) / 3);
  margin: 0 30px 0 10px;
  background: #fff;
  padding: 25px;
  box-shadow: 0 2px 3px #0000003d;
  border-radius: 5px; }
  .vs-item > h2 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin: 15px 0 10px; }
  .vs-item h5 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold; }
  .vs-item li {
    margin: 20px 0 30px; }
    .vs-item li:last-child {
      margin-bottom: 0; }
  .vs-item h4 {
    font-size: .9rem; }
  .vs-item .c-item {
    width: 100%;
    box-shadow: none;
    text-align: left;
    margin-bottom: 0; }

.vs-item_img {
  width: 150px;
  margin: 0 auto; }

.vs-item_tit {
  display: inline-block;
  font-weight: bolder;
  position: relative;
  margin-bottom: 15px; }
  .vs-item_tit:before {
    content: "";
    background: #CEA95B;
    width: 25px;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 8px; }

.vs-item_award {
  display: flex;
  align-items: center; }
  .vs-item_award > div {
    text-align: center;
    width: 25%;
    margin-right: 10px; }
    .vs-item_award > div img {
      width: 100%; }
  .vs-item_award span {
    display: block;
    margin-top: 10px;
    font-size: .8rem; }

.vs-item_table {
  font-size: .9rem;
  text-align: center;
  margin-top: 10px; }
  .vs-item_table .c-table img {
    display: inline-block;
    vertical-align: middle; }

.vs-item_good {
  margin-bottom: 3px; }
  .vs-item_good img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px; }

@media screen and (max-width: 780px) {
  .vs-item {
    margin: 0 15px 0 5px;
    width: calc(( 100% - 20px ) / 3);
    padding: 15px; }
    .vs-item .c-item_img, .vs-item .c-item_box {
      height: 130px; } }

@media screen and (max-width: 600px) {
  .vs-table {
    display: block; }
  .vs-item {
    width: 95%;
    margin: 0 auto 30px;
    padding: 30px 15px; }
  .vs-item .c-item_img, .vs-item .c-item_box {
    height: 190px; } }

.serive {
  margin: 20px 0; }
  .serive a {
    font-size: 1.2rem; }
